<div class="item item-context flaw-roll" data-type="{{system.type}}" data-item-id="{{_id}}" data-flawValue="{{system.value}}" data-flawName="{{name}}">
    <a class="test" data-type="advantage"><div class="flaw">{{name}}
        {{#if (ne system.value 0)}}
        {{system.value}}
        {{/if}}
    </div></a>
	<hr class="flawhr" />
</div>