<table class="skillTable">

    {{#each template.talents.social as |item|}}
        {{#if (ifOR ../system.allSkills (ifOR (notEmpty (getData ../system/skill item.name) includeZero=true) (toBoolean item.system.tale.taletype)))}}
            
            <tr class="skillitem">
                <td class="skillTableNameBig">{{skillName item.name ../this}} <i>{{skillAttributs item.name ../this}}</i></td>
                <td class="skillTableValue">
                    <input class="skillTemp" name="{{concat "system.skill." item.name ""}}" type="number" data-actor="{{../this.actor._id}}"
                    value="{{getData ../system/skill item.name}}" data-stat="{{item.name}}" data-lbl="{{item.name}}" />
                </td>
                <td class="skillTableRoll"><a class="item skill-roll" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></td>
            </tr>

            {{#if (hasSpez ../system.SkillSpez item.name)}}
                {{#each (getSpez ../system.SkillSpez item.name)}}

                    <tr class="skillitem">
                        <td class="skillTableNameBig">{{skillName ../this.name ../../this}} [{{spezi}}] <i>{{skillAttributs ../this.name ../../this}}</i></td>
                        <td class="skillTableValue">
                            <input class="skillTemp" name="spezi" type="number" value="{{addSpez (getData ../../system/skill ../this.name)}}" 
                            data-stat="{{../this.name}}" data-lbl="{{../this.name}} [{{spezi}}]" data-actor="{{../../this.actor._id}}" disabled />
                        </td>
                        <td class="skillTableRoll"><a class="item skill-roll" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></td>
                    </tr>

                {{/each}}
            {{/if}}
        {{/if}}
    {{/each}}

</table>