<table style="display: inline-block">

    {{#each config.natureSkill}}
        {{#if (ifOR ../system.allSkills (notEmpty (getData ../system/skill ./skill) includeZero=true))}}
            <tr>
                <td class="skillTableNameBig">{{localize (concat "GDSA.charactersheet." skill "Skill")}} 
                <i>({{localize (concat "GDSA.charactersheet.s" att1 "")}}/{{localize (concat "GDSA.charactersheet.s" att2 "")}}/{{localize (concat "GDSA.charactersheet.s" att3 "")}})</i></td>
                <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." skill ""}}" type="number" value="{{getData ../system/skill ./skill}}" /></td>
                <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize (concat "GDSA.charactersheet." skill "Skill")}}"
                data-stat_one="{{getDataValue ../system ./att1}}" data-stat_two="{{getDataValue ../system ./att2}}" 
                data-stat_three="{{getDataValue ../system ./att3}}" data-bemod="0" title="roll">
                <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
            </tr>
            {{#if (hasSpez ../system.SkillSpez skill)}}
                {{#each (getSpez ../system.SkillSpez skill)}}
                    <tr>
                        <td class="skillTableNameBig">{{localize (concat "GDSA.charactersheet." ../skill "Skill")}} [{{spezi}}]
                        <i>({{localize (concat "GDSA.charactersheet.s" ../att1 "")}}/{{localize (concat "GDSA.charactersheet.s" ../att2 "")}}/{{localize (concat "GDSA.charactersheet.s" ../att3 "")}})</i></td>
                        <td class="skillTableValue"><input class="skillTemp" name="spezi" type="number" value="{{addSpez (getData ../../system/skill ../skill)}}" disabled/></td>
                        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize (concat "GDSA.charactersheet." ../skill "Skill")}} [{{spezi}}]"
                        data-stat_one="{{getDataValue ../../system ../att1}}" data-stat_two="{{getDataValue ../../system ../att2}}" 
                        data-stat_three="{{getDataValue ../../system ../att3}}" data-bemod="0" title="roll">
                        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
                    </tr>
                {{/each}}
            {{/if}}
        {{/if}}
    {{/each}}

    <tr>
		    <td class="skillTableNameBig">{{localize "GDSA.charactersheet.ansiSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="system.skill.ansi" type="number" value="{{system.skill.ansi}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.ansiSkill"}}"
        data-stat_one="{{system.MU.value}}" data-stat_two="{{system.IN.value}}" data-stat_three="{{system.GE.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	  </tr>
    
    <tr>
		    <td class="skillTableNameBig">{{localize "GDSA.charactersheet.pirsSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="system.skill.pirs" type="number" value="{{system.skill.pirs}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.pirsSkill"}}"
        data-stat_one="{{system.MU.value}}" data-stat_two="{{system.IN.value}}" data-stat_three="{{system.GE.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	  </tr>

    <tr>
		    <td class="skillTableNameBig">{{localize "GDSA.charactersheet.nahrSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="system.skill.nahr" type="number" value="{{system.skill.nahr}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.nahrSkill"}}"
        data-stat_one="{{system.MU.value}}" data-stat_two="{{system.IN.value}}" data-stat_three="{{system.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	  </tr>

    <tr>
		    <td class="skillTableNameBig">{{localize "GDSA.charactersheet.krauSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="system.skill.krau" type="number" value="{{system.skill.krau}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.krauSkill"}}"
        data-stat_one="{{system.MU.value}}" data-stat_two="{{system.IN.value}}" data-stat_three="{{system.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	  </tr>

    <tr>
		    <td class="skillTableNameBig">{{localize "GDSA.charactersheet.wachSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="system.skill.wach" type="number" value="{{system.skill.wach}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.wachSkill"}}"
        data-stat_one="{{system.MU.value}}" data-stat_two="{{system.IN.value}}" data-stat_three="{{system.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	  </tr>

</table>