<div class="woundChart">
    <div class="RSHelper1"></div>
    <div class="RSHelper2"></div>
    <div class="RSBoxHelper1">
        <div class="RSHelper3"></div>
        <div class="RSBox">
            {{system.headArmour}}
        </div>
        <div class="WPBox1">
            <i class="fas fa-solid fa-circle wp"></i>
            <i class="fas fa-solid fa-circle wp"></i>
            <i class="fas fa-solid fa-circle wp"></i>
        </div>
    </div>
    <div class="RSHelper4"></div>
    <div class="RSHelper5">
        <div class="RSHelper6"></div>
        <div class="RSBoxHelper2">
            <div class="RSBox">
                {{system.leftarmArmour}}
            </div>
            <div class="WPBox2">
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
            </div>
        </div>
    </div>
    <div class="RSHelper7">
        <div class="RSHelper8"></div>
        <div class="RSBoxHelper3">
            <div class="RSHelper3"></div>
            <div class="RSBox">
                {{system.bodyArmour}}
            </div>
            <div class="WPBox1">
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
            </div>
            <div class="RSHelper3"></div>
            <div class="RSBox">
                {{system.backArmour}}
            </div>
        </div>
        <div class="RSHelper9"></div>
        <div class="RSBoxHelper4">
            <div class="RSHelper3"></div>
            <div class="RSBox">
                {{system.stomachArmour}}
            </div>
            <div class="WPBox1">
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
            </div>
        </div>
    </div>
    <div class="RSHelper10">
        <div class="RSHelper6"></div>
        <div class="RSBoxHelper2">
            <div class="RSBox">
                {{system.rightarmArmour}}
            </div>
            <div class="WPBox2">
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
            </div>
        </div>
    </div>
    <div class="RSHelper11">
        <div class="RSHelper12"></div>
        <div class="RSBoxHelper2">
            <div class="RSBox">
                {{system.leftlegArmour}}
            </div>
            <div class="WPBox2">
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
            </div>
        </div>
    </div>
    <div class="RSHelper13">
        <div class="RSHelper14"></div>
        <div class="RSBoxHelper2">
            <div class="RSBox">
                {{system.rightlegArmour}}
            </div>
            <div class="WPBox2">
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
                <i class="fas fa-solid fa-circle wp"></i>
            </div>
        </div>
    </div>
    <div class="RSHelper2"></div>
    <div class="RSBoxHelper1">
        <div class="RSHelper3"></div>
        <div class="RSBox">
            {{system.gRSArmour}}
        </div>
        <div class="WPBox1">
            <i class="fas fa-solid fa-circle wp"></i>
            <i class="fas fa-solid fa-circle wp"></i>
            <i class="fas fa-solid fa-circle wp"></i>
        </div>
    </div>     
</div>