<div style="height: 600px; text-align: center">
    
    <div class="combatBntBar">
        <a class="myButton lossAsP">{{localize "GDSA.charactersheet.masp"}}</a> 
        <a class="myButton doReg">{{localize "GDSA.charactersheet.reg"}}</a> 
        <a class="myButton getAsP">{{localize "GDSA.charactersheet.pasp"}}</a>
    </div>

    <div class="skill-rit">
        <table style="display: inline-block">

            {{#each ritualSkills as |item id|}}
                <tr class="item-context item" data-item-id="{{_id}}">
                    <td class="skillTableNameBig">{{localize (concat "GDSA.ritualSkills." ./data/skill "")}}</td>
                    <td class="skillTableValue"><input class="skillTemp" name="{{concat "data.skill.rit" ./data/skill ""}}" type="number" value="{{getRitData ../data/skill ./data/skill}}" /></td>
                </tr>
            {{/each}}
                <tr class="item-context item" data-item-id="{{_id}}">
                    <td class="skillTableNameBig" colspan="2"><a class="item-create" data-type="ritualSkill"><div class="addRitKenn">+</div></a></td>
                </tr>
        </table>
    </div>

    <div class="magicTraitBox">
        <div class="traithead">{{localize "GDSA.charactersheet.magicTrait"}}</div>
        <div class="flawbnt"><a class="item-create" data-type="magicTrait"><i class="fas fa-plus plusSym"></i></a></div>
		<div class="traithrbox"><hr class="flawhr" /></div>
    	<section class="magtraits">
			{{#each magicTraits as |Trait id|}}
				<div class="item item-context" data-type="{{data.type}}" data-item-id="{{_id}}">
                    <div class="trait">{{name}}</div><hr class="flawhr" />
                </div>
			{{/each}}
		</section>
    </div>

    <div class="magicTraitBox">
        <div class="traithead">{{localize "GDSA.charactersheet.objektTrait"}}</div>
        <div class="flawbnt"><a class="item-create" data-type="objectTrait"><i class="fas fa-plus plusSym"></i></a></div>
		<div class="traithrbox"><hr class="flawhr" /></div>
    	<section class="magtraits">
			{{#each objectTraits as |Trait id|}}
				<div class="item item-context" data-type="{{data.type}}" data-item-id="{{_id}}">
                    <div class="trait">{{name}}</div><hr class="flawhr" />
                </div>
			{{/each}}
		</section>
    </div>

</div>