<section>
    <div class="valueBox1">
	    <div class="bigValueBox"></div>
		<div class="smallValueBox valueHead">{{localize "GDSA.charactersheet.valueLabel"}}</div>
		<div class="smallValueBox valueHead">{{localize "GDSA.charactersheet.modLabel"}}</div>
		<div class="smallValueBox"></div><br />

	    <a class=" item stat-roll" data-stattype="MU" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.MU"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="MU" title="edit">{{system.MU.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.MU.temp" type="number" value="{{system.MU.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="MU" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

		<a class=" item stat-roll" data-stattype="KL" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.KL"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="KL" title="edit">{{system.KL.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.KL.temp" type="number" value="{{system.KL.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="KL" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

		<a class=" item stat-roll" data-stattype="IN" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.IN"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="IN" title="edit">{{system.IN.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.IN.temp" type="number" value="{{system.IN.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="IN" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

		<a class=" item stat-roll" data-stattype="CH" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.CH"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="CH" title="edit">{{system.CH.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.CH.temp" type="number" value="{{system.CH.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="CH" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

		<a class=" item stat-roll" data-stattype="FF" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.FF"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="FF" title="edit">{{system.FF.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.FF.temp" type="number" value="{{system.FF.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="FF" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

		<a class=" item stat-roll" data-stattype="GE" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.GE"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="GE" title="edit">{{system.GE.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.GE.temp" type="number" value="{{system.GE.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="GE" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

		<a class=" item stat-roll" data-stattype="KO" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.KO"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="KO" title="edit">{{system.KO.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.KO.temp" type="number" value="{{system.KO.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="KO" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

		<a class=" item stat-roll" data-stattype="KK" title="roll"><div class="bigValueBox">{{localize "GDSA.charactersheet.KK"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="KK" title="edit">{{system.KK.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.KK.temp" type="number" value="{{system.KK.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="KK" title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />

	    <div class="bigValueBox">{{localize "GDSA.charactersheet.GS"}}</div>
	    <div class="smallValueBox">{{system.GS.value}}</div>
	    <div class="smallValueBox editableValue" data-edit="system.GS.temp" contenteditable>{{system.GS.temp}}</div>
	    <div class="smallValueBox"></div>
	</div>
</section>