<div class="wonderBox">
    <table class="castHelperTable">
        {{#each rituals as |item id|}}
            <tr class="item-context item" data-item-id="{{_id}}">
                {{#if (equals system.type "ritual")}}
                    <td class="skillTableNameBig">{{name}}
                        <i>({{system.att1}}/{{system.att2}}/{{system.att3}})</i>
                        <div class="itemWorn"><a class="openRitual" data-page="{{system.wdzPage}}"><i class="fas fa-book"></i></a></div>
                    </td>
                <td class="skillTableValue"><input class="skillTemp" type="number" value="{{getData ../system.skill (concat "rit" system.ritTalent "")}}" disabled/></td>
                <td class="skillTableRoll"><a class="item ritual-roll" data-statName="{{name}}" data-item-id="{{_id}}"
                    data-stat_one="{{getDataValue ../system ./system.att1}}" data-stat_two="{{getDataValue ../system ./system.att2}}" 
                    data-stat_three="{{getDataValue ../system ./system.att3}}" data-ritknow="{{getData ../system.skill (concat "rit" system.ritTalent "")}}" 
                    title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a>
                </td>
                {{else}}
                    <td class="skillTableNameBig">{{name}}
                        <i>({{getSchamAtt system.skill 1}}/{{getSchamAtt system.skill 2}}/{{getSchamAtt system.skill 3}})</i>
                        <div class="itemWorn"><a class="openRitual" data-page="{{system.wdzPage}}"><i class="fas fa-book"></i></a></div>
                    </td>
                    <td class="skillTableValue"><input class="skillTemp" type="number" value="{{getData ../system.skill (concat "rit" system.skill "")}}" disabled/></td>
                <td class="skillTableRoll"><a class="item scham-roll" data-statName="{{name}}" data-item-id="{{_id}}"
                    data-stat_one="{{getDataValue ../system (getSchamAtt system.skill 1)}}" data-stat_two="{{getDataValue ../system (getSchamAtt system.skill 2)}}" 
                    data-stat_three="{{getDataValue ../system (getSchamAtt system.skill 3)}}" data-ritknow="{{getData ../system.skill (concat "rit" system.skill "")}}" 
                    title="roll"><i class="fas fa-dice-d20 faD20Stat"></i></a>
                </td>
                {{/if}}
            </tr> 
	    {{/each}}
        <tr>
            <td class="addCast" colspan="3">
                <a class="ritual-add" data-type="ritual" title="{{localize "GDSA.charactersheet.addRitual"}}"><div class="spellButtonBox"><b>+</b></div></a>
            </td>
        </tr>
    </table>
</div>