<table style="display: inline-block">
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.anatSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.anat" type="number" value="{{data.skill.anat}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.anatSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.baukSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.bauk" type="number" value="{{data.skill.bauk}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.baukSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.buksSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.buks" type="number" value="{{data.skill.buks}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.buksSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.geogSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.geog" type="number" value="{{data.skill.geog}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.geogSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.gescSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.gesc" type="number" value="{{data.skill.gesc}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.gescSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.gestSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.gest" type="number" value="{{data.skill.gest}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.gestSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.goetSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.goet" type="number" value="{{data.skill.goet}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.goetSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.heraSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hera" type="number" value="{{data.skill.hera}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.heraSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.huetSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.huet" type="number" value="{{data.skill.huet}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.huetSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.krieSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.krie" type="number" value="{{data.skill.krie}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.krieSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.krypSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.kryp" type="number" value="{{data.skill.kryp}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.krypSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.magiSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.magi" type="number" value="{{data.skill.magi}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.magiSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.mechSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.mech" type="number" value="{{data.skill.mech}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.mechSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.pflaSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.pfla" type="number" value="{{data.skill.pfla}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.pflaSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.philSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.phil" type="number" value="{{data.skill.phil}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.philSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.calcSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.calc" type="number" value="{{data.skill.calc}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.calcSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.rectSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.rect" type="number" value="{{data.skill.rect}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.rectSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.sageSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sage" type="number" value="{{data.skill.sage}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.sageSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.shaeSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.shae" type="number" value="{{data.skill.shae}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.shaeSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.spraSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.spra" type="number" value="{{data.skill.spra}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.spraSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.staaSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.staa" type="number" value="{{data.skill.staa}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.staaSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.sterSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ster" type="number" value="{{data.skill.ster}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.sterSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
  <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.tierSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.tier" type="number" value="{{data.skill.tier}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.tierSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
</table>