<table style="display: inline-block">
    
    {{#each config.meleeSkill}}
        {{#if (ifOR ../system.allSkills (notEmpty (getData (getData ../system/skill ./skill) "value") includeZero=true))}}
            <tr>
                <td class="skillTableNameCombat">{{localize (concat "GDSA.charactersheet." skill "Skill")}}</td>
                <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." skill ".atk"}}" type="number" value="{{getData (getData ../system/skill ./skill) "atk"}}" title="AT"/></td>
                <td class="skillTableFiller"></td>
                <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." skill ".def"}}" type="number" value="{{getData (getData ../system/skill ./skill) "def"}}" title="PA"/></td>
                {{#if (isGreater beMod 0)}}
                    <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
                {{else}}
                    {{#if (isGreater 0 beMod)}}
                        <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BE" beMod "")}}</td>
                    {{else}}
                        <td class="skillTableBE"></td>
                    {{/if}}
                {{/if}}
                <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." skill ".value"}}" type="number" value="{{getData (getData ../system/skill ./skill) "value"}}" /></td>
            </tr>

            {{#if (hasSpez ../system.SkillSpez skill)}}
                {{#each (getSpez ../system.SkillSpez skill)}}
                    <tr>
                      <td class="skillTableNameCombat">{{localize (concat "GDSA.charactersheet." ../skill "Skill")}} [{{spezi}}]</td>
                      <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." ../skill ".atk"}}" type="number" value="{{getData (getData ../../system/skill ../skill) "atk"}}" title="AT"/></td>
                      <td class="skillTableFiller"></td>
                      <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." ../skill ".def"}}" type="number" value="{{getData (getData ../../system/skill ../skill) "def"}}" title="PA"/></td>
                      {{#if (isGreater ../beMod 0)}}
                          <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
                      {{else}}
                          {{#if (isGreater 0 ../beMod)}}
                              <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BE" ../beMod "")}}</td>
                          {{else}}
                              <td class="skillTableBE"></td>
                          {{/if}}
                      {{/if}}
                      <td class="skillTableValue"><input class="skillTemp" name="spezi" type="number" value="{{addSpez (getData (getData ../../system/skill ../skill) "value")}}" disabled/></td>
                    </tr>
                {{/each}}
            {{/if}}

        {{/if}}
    {{/each}}

    {{#each config.rangeSkill}}
        {{#if (ifOR ../system.allSkills (notEmpty (getData (getData ../system/skill ./skill) "value") includeZero=true))}}
            <tr>
                <td class="skillTableNameCombat">{{localize (concat "GDSA.charactersheet." skill "Skill")}}</td>
                <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." skill ".atk"}}" type="number" value="{{getData (getData ../system/skill ./skill) "atk"}}" title="AT"/></td>
                <td class="skillTableFiller"></td>
                <td class="skillTableValue"></td>
                {{#if (isGreater beMod 0)}}
                    <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
                {{else}}
                    {{#if (isGreater 0 beMod)}}
                        <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BE" beMod "")}}</td>
                    {{else}}
                        <td class="skillTableBE"></td>
                    {{/if}}
                {{/if}}
                <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." skill ".value"}}" type="number" value="{{getData (getData ../system/skill ./skill) "value"}}" /></td>
            </tr>

            {{#if (hasSpez ../system.SkillSpez skill)}}
                {{#each (getSpez ../system.SkillSpez skill)}}
                    <tr>
                      <td class="skillTableNameCombat">{{localize (concat "GDSA.charactersheet." ../skill "Skill")}} [{{spezi}}]</td>
                      <td class="skillTableValue"><input class="skillTemp" name="{{concat "system.skill." ../skill ".atk"}}" type="number" value="{{getData (getData ../../system/skill ../skill) "atk"}}" title="AT"/></td>
                      <td class="skillTableFiller"></td>
                      <td class="skillTableValue"></td>
                      {{#if (isGreater ../beMod 0)}}
                          <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
                      {{else}}
                          {{#if (isGreater 0 ../beMod)}}
                              <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BE" ../beMod "")}}</td>
                          {{else}}
                              <td class="skillTableBE"></td>
                          {{/if}}
                      {{/if}}
                      <td class="skillTableValue"><input class="skillTemp" name="spezi" type="number" value="{{addSpez (getData (getData ../../system/skill ../skill) "value")}}" disabled/></td>
                    </tr>
                {{/each}}
            {{/if}}

        {{/if}}
    {{/each}}

</table>