<section>
    <div class="gmBox">

        <div class="charstateTable">
            <div class="charstateRow">
                {{#each system.buffs as |value effect|}}
                    <div id="{{effect}}" class="charstateBnt effectmainBNT {{concat "buff" effect ""}}" data-tooltip="{{localize (concat "GDSA.templates." effect "")}}" 
                        data-tooltip-direction="DOWN" style="{{#if (equals value 0)}}filter: grayscale(75%);{{/if}}">
                        {{#if (isEqualORGreater @index 5)}}
                            <div class="buffcontrol">
                                <div class="buffUP"><a class="effectupBNT">↑</a></div>
                                <div class="buffCOUNT"><input class="buffincount" type="number" value="{{value}}" name="system.buffs.{{effect}}" disabled></div>
                                <div class="buffDOWN"><a class="effectdownBNT">↓</a></div>
                            </div>
                        {{/if}}
                    </div>
                    {{#if (equals @index 5)}}</div><div class="charstateRow">{{/if}}
                {{/each}}
            </div>
        </div>
        <div class="chareffectBox">
            <div class="chareffectTitel">{{localize "GDSA.templates.effect"}}
                <a class="effects-control" data-action="create"><i class="fas fa-plus"></i></a>
            </div>
            <div class="traithrbox3"><hr class="traithrMain2" /></div>
            <ol class="effectList">
                {{#each effects as |effect|}}
                    <li class="item effect" data-effect-id="{{effect._id}}" style="margin-bottom: 12px; margin-top: 10px;">
                        <div class="item-name effect-name">{{effect.name}}</div>
                        <div class="effect-controls">
                            <a class="effect-control" data-action="edit" title="{{localize 'DND5E.EffectEdit'}}"><i class="fas fa-edit"></i></a>
                            <a class="effect-control" data-action="delete" title="{{localize 'DND5E.EffectDelete'}}"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="traithrbox3"><hr class="traithr2" /></div>
                    </li>
                {{/each}}
            </ol>
        </div>
    </div>
</section>