<section>
    <div class="infoBox">
		<div class="imgBox">
	    	<img class="img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
	   	</div>
	   	<div class="infoDivider"></div>
		{{> "systems/GDSA/templates/partials/character-sheet-facts.hbs"}}
    </div>

    <div class="filler"></div>

	<div class="valueBox">
	    <div class="flawBox">
			<div class="flawhead">{{localize "GDSA.charactersheet.advantage"}}</div>
            <div class="flawbnt"><a class="template-create" data-type="adva" title="{{localize "GDSA.charactersheet.addAdvantage"}}"><i class="fas fa-plus plusSym"></i></a></div>
			<div class="flawhrbox"><hr class="flawhr" /></div>
	    	<section class="advantages">
				{{#each advantages as |advantage id|}}
					{{> "systems/GDSA/templates/partials/character-sheet-advantages.hbs" advantage}}
				{{/each}}
			</section>
	   	</div>

	   	<div class="flawDivider"></div>

	    <div class="flawBox">
			<div class="flawhead">{{localize "GDSA.charactersheet.flaw"}}</div>
			<div class="flawbnt"><a class="template-create" data-type="flaw" title="{{localize "GDSA.charactersheet.addFlaw"}}"><i class="fas fa-plus plusSym"></i></a></div>
			<div class="flawhrbox"><hr class="flawhr" /></div>
	    	<section class="advantages">
				{{#each flaws as |flaw id|}}
					{{> "systems/GDSA/templates/partials/character-sheet-advantages.hbs" flaw}}
				{{/each}}
			</section>
	   	</div>
	</div>	

	<div class="filler"></div>

	   <div class="valueBox">
	   	{{> "systems/GDSA/templates/partials/character-sheet-value1.hbs"}}
	   	<div class="valueDivider"></div>
	   	{{> "systems/GDSA/templates/partials/character-sheet-value2.hbs"}}
    </div>
    
    <div class="filler"></div>
	    
	<div class="footerBox">
	   	<div class="footer">
	    	<div class="footerFirst"><a class=" item stat-change" data-stattype="AP" title="edit">{{localize "GDSA.charactersheet.AP"}}</a></div>
	    	<div class="footerBig" data-edit="system.AP.value" contenteditable>{{system.AP.value}}</div>
	    	<div class="footerSmall">{{localize "GDSA.charactersheet.spentAP"}}</div>
	    	<div class="footerBig">{{system.AP.spent}}</div>
	    	<div class="footerSmall"><a class=" item stat-change" data-stattype="APFree" title="edit">{{localize "GDSA.charactersheet.freeAP"}}</a></div>
	    	<div class="footerBig" data-edit="system.AP.free" contenteditable>{{system.APFree.value}}</div>
	   	</div>
 	</div>
</section>