<section>
    <div class="valueBox1">
	    <div class="bigValueBox"></div>
		<div class="smallValueBox valueHead">{{localize "GDSA.charactersheet.valueLabel"}}</div>
		<div class="smallValueBox valueHead">{{localize "GDSA.charactersheet.modLabel"}}</div>
		<div class="smallValueBox"></div><br />

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="MU">
	    <a class=" item stat-roll" data-stattype="MU" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.MU"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="MU" title="{{localize 'GDSA.system.edit'}}">{{system.MU.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.MU.temp" type="number" value="{{system.MU.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="MU" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="KL">
		<a class=" item stat-roll" data-stattype="KL" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.KL"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="KL" title="{{localize 'GDSA.system.edit'}}">{{system.KL.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.KL.temp" type="number" value="{{system.KL.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="KL" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="IN">
		<a class=" item stat-roll" data-stattype="IN" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.IN"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="IN" title="{{localize 'GDSA.system.edit'}}">{{system.IN.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.IN.temp" type="number" value="{{system.IN.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="IN" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="CH">
		<a class=" item stat-roll" data-stattype="CH" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.CH"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="CH" title="{{localize 'GDSA.system.edit'}}">{{system.CH.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.CH.temp" type="number" value="{{system.CH.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="CH" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="FF">
		<a class=" item stat-roll" data-stattype="FF" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.FF"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="FF" title="{{localize 'GDSA.system.edit'}}">{{system.FF.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.FF.temp" type="number" value="{{system.FF.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="FF" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="GE">
		<a class=" item stat-roll" data-stattype="GE" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.GE"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="GE" title="{{localize 'GDSA.system.edit'}}">{{system.GE.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.GE.temp" type="number" value="{{system.GE.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="GE" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="KO">
		<a class=" item stat-roll" data-stattype="KO" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.KO"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="KO" title="{{localize 'GDSA.system.edit'}}">{{system.KO.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.KO.temp" type="number" value="{{system.KO.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="KO" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

		<div class="statitem" data-actor="{{actor._id}}" data-stattype="KK">
		<a class=" item stat-roll" data-stattype="KK" title="{{localize 'GDSA.chat.skill.roll'}}"><div class="bigValueBox">{{localize "GDSA.charactersheet.KK"}}</div></a>
	    <div class="smallValueBox"><a class=" item stat-change" data-stattype="KK" title="{{localize 'GDSA.system.edit'}}">{{system.KK.value}}</a></div>
	    <div class="smallValueBox"><input class="statTemp editableValue" name="system.KK.temp" type="number" value="{{system.KK.temp}}" /></div>
	    <div class="smallValueBox"><a class="item stat-roll" data-stattype="KK" title="{{localize 'GDSA.chat.skill.roll'}}"><i class="fas fa-dice-d20 faD20Stat"></i></a></div><br />
		</div>

	    <div class="bigValueBox">{{localize "GDSA.charactersheet.GS"}}</div>
	    <div class="smallValueBox">{{system.GS.value}}</div>
	    <div class="smallValueBox editableValue" data-edit="system.GS.temp" contenteditable>{{system.GS.temp}}</div>
	    <div class="smallValueBox"></div>
	</div>
</section>