<div class="skillHeaderBox2">
	<div class="skillHeaderSkillBox2">
        <div class="headerLable2">{{localize "GDSA.charactersheet.ATBasis"}}</div><div class="headerValue2">{{system.ATBasis.value}}</div> 
        <div class="headerLable2">{{localize "GDSA.charactersheet.PABasis"}}</div><div class="headerValue2">{{system.PABasis.value}}</div>
        <div class="headerLable2">{{localize "GDSA.charactersheet.FKBasis"}}</div><div class="headerValue2">{{system.FKBasis.value}}</div> 
        <div class="headerLable2" data-tooltip=
        "<div class='tooltipInI'> InI Basis <input class='tooltipNum' value='{{system.iniBaseValue}}' disabled> - BE <input class='tooltipNum' value='{{system.gBEArmour}}' disabled> + Waffenmod <input class='tooltipNum' value='{{system.equipINI}}' disabled> = <input class='tooltipNum' value='{{system.INIBasis.value}}' disabled></div>"
        data-tooltip-direction="LEFT">{{localize "GDSA.charactersheet.INIBasis"}}</div><div class="headerValue2" data-tooltip=
        "<div class='tooltipInI'> InI Basis <input class='tooltipNum' value='{{system.iniBaseValue}}' disabled> - BE <input class='tooltipNum' value='{{system.gBEArmour}}' disabled> + Waffenmod <input class='tooltipNum' value='{{system.equipINI}}' disabled> = <input class='tooltipNum' value='{{system.INIBasis.value}}' disabled></div>"
        data-tooltip-direction="LEFT">{{system.INIBasis.value}}</div>
        <div class="headerLable2">WS</div><div class="headerValue2">{{system.WS}}</div>
	</div>
</div>

<div class="skillFiller2"></div>
	
<div class="skillMenuBox2">
    <div class="lepbar">
      <div class="lepbar_fill" style="width: {{system.LeP.prozent}}%;"></div>
      <span class="lepbar_text">{{system.LeP.value}} / {{system.LeP.max}}</span>
    </div>
</div>
	
<div class="skillsBox">

    <div class="combatFiller1"></div>

    {{> "systems/gdsa/templates/partials/character-sheet-woundChart.hbs"}}

    <div class="combatWindow">
        <div class="combatBntBar">
            <a id="doDMG" class="myButton getDMG">{{localize "GDSA.charactersheet.dmg"}}</a> 
            <a id="doReg" class="myButton doReg">{{localize "GDSA.charactersheet.reg"}}</a> 
            <a id="doHeal" class="myButton getHeal">{{localize "GDSA.charactersheet.heal"}}</a>
        </div>

        <div class="combatBntBar">
            <a id="doDogde" class="myButton dogde-roll">{{localize "GDSA.charactersheet.dogde"}}: {{system.Dogde}}</a> 
            <a id="doZone" class="myButton zone-roll">{{localize "GDSA.charactersheet.zone"}}</a> 
        </div>
    
        <div class="combatTableBox1">
            <table class="combatTable">
                <tr>
                    <td class="tableLbl">{{localize "GDSA.charactersheet.meleeWeapons"}}</td>
                    <td class="tableBnt"></td><td class="tableBnt"></td>
                    <td class="tableBnt"><a class="item m-fail-roll" title="{{localize "GDSA.charactersheet.crittFailRoll"}}"><i class="fas fa-duotone fa-burst faD20Stat"></i></a></td>
                </tr>
                <tr data-item-id="raufen">
                        <td class="tableLbl">{{localize "GDSA.charactersheet.raufSkill"}}</td>
                        <td class="tableBnt"><a class="item attack-roll" title="{{localize "GDSA.charactersheet.atRoll"}}" data-tooltip="{{aktTooltip this "Raufen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-gavel faD20Stat"></i></a></td>
                        <td class="tableBnt"><a class="item parry-roll" title="{{localize "GDSA.charactersheet.paRoll"}}" data-tooltip="{{defTooltip this "Raufen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-shield-alt faD20Stat"></i></a></td>
                        <td class="tableBnt"><a class="item damage-roll" title="{{localize "GDSA.charactersheet.dmgRoll"}}"><i class="fas fa-tint faD20Stat"></i></a></td>
                </tr>
                <tr data-item-id="ringen">
                        <td class="tableLbl">{{localize "GDSA.charactersheet.ringSkill"}}</td>
                        <td class="tableBnt"><a class="item attack-roll" title="{{localize "GDSA.charactersheet.atRoll"}}" data-tooltip="{{aktTooltip this "Ringen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-gavel faD20Stat"></i></a></td>
                        <td class="tableBnt"><a class="item parry-roll" title="{{localize "GDSA.charactersheet.paRoll"}}" data-tooltip="{{defTooltip this "Ringen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-shield-alt faD20Stat"></i></a></td>
                        <td class="tableBnt"><a class="item damage-roll" title="{{localize "GDSA.charactersheet.dmgRoll"}}"><i class="fas fa-tint faD20Stat"></i></a></td>
                </tr>
                {{#if system.nwbite}}
                    <tr data-item-id="biss">
                            <td class="tableLbl">{{localize "GDSA.advantage.bite"}}</td>
                            <td class="tableBnt"><a class="item attack-roll" title="{{localize "GDSA.charactersheet.atRoll"}}" data-tooltip="{{aktTooltip this "Raufen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-gavel faD20Stat"></i></a></td>
                            <td class="tableBnt"><a class="item parry-roll" title="{{localize "GDSA.charactersheet.paRoll"}}" data-tooltip="{{defTooltip this "Raufen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-shield-alt faD20Stat"></i></a></td>
                            <td class="tableBnt"><a class="item damage-roll" title="{{localize "GDSA.charactersheet.dmgRoll"}}"><i class="fas fa-tint faD20Stat"></i></a></td>
                    </tr>
                {{/if}}
                {{#if system.nwtail}}
                    <tr data-item-id="schwanz">
                            <td class="tableLbl">{{localize "GDSA.advantage.tail"}}</td>
                            <td class="tableBnt"><a class="item attack-roll" title="{{localize "GDSA.charactersheet.atRoll"}}" data-tooltip="{{aktTooltip this "Ringen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-gavel faD20Stat"></i></a></td>
                            <td class="tableBnt"><a class="item parry-roll" title="{{localize "GDSA.charactersheet.paRoll"}}" data-tooltip="{{defTooltip this "Ringen" ""}}" data-tooltip-direction="LEFT"><i class="fas fa-shield-alt faD20Stat"></i></a></td>
                            <td class="tableBnt"><a class="item damage-roll" title="{{localize "GDSA.charactersheet.dmgRoll"}}"><i class="fas fa-tint faD20Stat"></i></a></td>
                    </tr>
                {{/if}}
                {{#each equiptMelee as |item id|}}
                    <tr data-item-id="{{_id}}">
                        <td class="tableLbl">{{name}}</td>
                        <td class="tableBnt"><a class="item attack-roll" title="{{localize "GDSA.charactersheet.atRoll"}}" data-tooltip="{{aktTooltip ../this "" this}}" data-tooltip-direction="LEFT"><i class="fas fa-gavel faD20Stat"></i></a></td>
                        <td class="tableBnt"><a class="item parry-roll" title="{{localize "GDSA.charactersheet.paRoll"}}" data-tooltip="{{defTooltip ../this "" this}}" data-tooltip-direction="LEFT"><i class="fas fa-shield-alt faD20Stat"></i></a></td>
                        <td class="tableBnt"><a class="item damage-roll" title="{{localize "GDSA.charactersheet.dmgRoll"}}"><i class="fas fa-tint faD20Stat"></i></a></td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="combatTableBox2">
            <table class="combatTable">
                <tr>
                    <td class="tableLbl">{{localize "GDSA.charactersheet.rangeWeapons"}}</td>
                    <td class="tableBnt"></td><td class="tableBnt"></td>
                    <td class="tableBnt"><a class="item r-fail-roll" title="{{localize "GDSA.charactersheet.crittFailRoll"}}"><i class="fas fa-duotone fa-burst faD20Stat"></i></a></td>
                </tr>
                {{#each equiptRange as |item id|}}
                    <tr data-item-id="{{_id}}">
                        <td class="tableLbl">{{name}}</td>
                        <td class="tableBnt"></td>
                        <td class="tableBnt"><a class="item attack-roll" title="{{localize "GDSA.charactersheet.atRoll"}}" data-tooltip="{{rangeTooltip ../this "" this}}" data-tooltip-direction="LEFT"><i class="fas fa-bullseye faD20Stat"></i></a></td>
                        <td class="tableBnt"><a class="item damage-roll" title="{{localize "GDSA.charactersheet.dmgRoll"}}"><i class="fas fa-tint faD20Stat"></i></a></td>
                    </tr>
                {{/each}}
            </table>
        </div>

        <div class="combatTableBox3">
            <table class="combatTable">
                <tr>
                    <td class="tableLbl">{{localize "GDSA.charactersheet.shields"}}</td>
                    <td class="tableBnt"></td><td class="tableBnt"></td><td class="tableBnt"></td>
                </tr>
                {{#each equiptShield as |item id|}}
                    <tr data-item-id="{{_id}}">
                        <td class="tableLbl">{{name}}</td>
                        <td class="tableBnt"></td>
                        <td class="tableBnt"></td>
                        <td class="tableBnt"><a class="item shield-roll" title="{{localize "GDSA.charactersheet.paRoll"}}"><i class="fas fa-shield-alt faD20Stat"></i></a></td>
                    </tr>
                {{/each}}
            </table>
        </div>

    </div>

    {{#if system.magical}}
		{{#if system.klerikal}}

            <div class="sonderfBox">
                <div class="traithead">{{localize "GDSA.charactersheet.generalTrait"}}</div>
                <div class="flawbnt"><a class="changeTab item" data-destination="generaltraitPage" data-origin="combatePage" data-optional="general">
                    <i class="fas fa-book plusSym"></i>
                </a></div>
                <div class="traithrbox"><hr class="flawhr" /></div>
                <section class="traits">
                    {{#each generalTraits as |Trait id|}}
                        <div class="item" data-type="{{system.type}}" data-item-id="{{_id}}">
                            <div class="trait">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div><hr class="flawhr" />
                        </div>
                    {{/each}}
                </section>
            </div>
            <div class="sonderfBox">
                <div class="traithead">{{localize "GDSA.charactersheet.combatTrait"}}</div>
                <div class="flawbnt"><a class="changeTab item" data-destination="combattraitPage" data-origin="combatePage" data-optional="combat">
                    <i class="fas fa-book plusSym"></i>
                </a></div>
                <div class="traithrbox"><hr class="flawhr" /></div>
                <section class="traits">
                    {{#each combatTraits as |Trait id|}}
                        <div class="item" data-type="{{system.type}}" data-item-id="{{_id}}">
                            <div class="trait">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div><hr class="flawhr" />
                        </div>
                    {{/each}}
                </section>
            </div>

        {{else}}

            <div class="sonderfBox2">
                <div class="traithead">{{localize "GDSA.charactersheet.generalTrait"}}</div>
                <div class="flawbnt"><a class="changeTab item" data-destination="generaltraitPage" data-origin="combatePage" data-optional="general">
                    <i class="fas fa-book plusSym"></i>
                </a></div>
                <div class="traithrbox"><hr class="flawhr" /></div>
                <section class="traits2">
                    {{#each generalTraits as |Trait id|}}
                        <div class="item" data-type="{{system.type}}" data-item-id="{{_id}}">
                            <div class="trait">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div><hr class="flawhr" />
                        </div>
                    {{/each}}
                </section>
            </div>

        {{/if}}

    {{else}}

        <div class="sonderfBox2">
            <div class="traithead">{{localize "GDSA.charactersheet.generalTrait"}}</div>
            <div class="flawbnt"><a class="changeTab item" data-destination="generaltraitPage" data-origin="combatePage" data-optional="general">
                <i class="fas fa-book plusSym"></i>
            </a></div>
            <div class="traithrbox"><hr class="flawhr" /></div>
            <section class="traits2">
                {{#each generalTraits as |Trait id|}}
                    <div class="item" data-type="{{system.type}}" data-item-id="{{_id}}">
                        <div class="trait">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div><hr class="flawhr" />
                    </div>
                {{/each}}
            </section>
        </div>

    {{/if}}
    
</div>