<section>
	<div class="factBox">
		<div class="factType">{{localize "GDSA.charactersheet.name"}}</div><div data-edit="name" class="factValue editableValue" contenteditable>{{actor.name}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.race"}}</div><div class="factValue">{{data.race}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.culture"}}</div><div class="factValue">{{data.kulture}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.profession"}}</div><div class="factValue">{{data.profession}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.gender"}}</div><div data-edit="data.gender" class="factValue editableValue" contenteditable>{{data.gender}}</div><br />
		<hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.age"}}</div><div data-edit="data.age" class="factValue editableValue" contenteditable>{{data.age}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.height"}}</div><div data-edit="data.height" class="factValue editableValue" contenteditable>{{data.height}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.weight"}}</div><div data-edit="data.weight" class="factValue editableValue" contenteditable>{{data.weight}}</div><br />
        <hr class="factDivider" />
	   <div class="factType">{{localize "GDSA.charactersheet.so"}}</div><div data-edit="data.SO" class="factValue editableValue" contenteditable>{{data.SO}}</div>
	</div>
</section>