<section>
	<nav class="sheet-tabs tabs nav" data-group="primary">

		<div class="menuRow1">
			<img class="logoImg" src="systems/gdsa/assets/ui/logo.webp">
		</div>

		<div class="menuRow2">

			<a id="traitPage" class="item menuMainItem" data-tab="traitPage"></a>
			<a id="generaltraitPage" class="item menuMainItem" data-tab="generaltraitPage"></a>
			<a id="combattraitPage" class="item menuMainItem" data-tab="combattraitPage"></a>
			<a id="magictraitPage" class="item menuMainItem" data-tab="magictraitPage"></a>
			<a id="holytraitPage" class="item menuMainItem" data-tab="holytraitPage"></a>
			<a id="objecttraitPage" class="item menuMainItem" data-tab="objecttraitPage"></a>
			<a id="characterView" class="item menuMainItem" data-tab="characterView"></a>
			<a id="characterEffects" class="item menuMainItem" data-tab="characterEffects"></a>

			<div class="menuCell">
				<a id="mainPage" class="item menuMainItem changeTab" data-tab="mainPage" data-destination="mainPage" data-origin="">
					<div class="menuItem" style="width: 90px;">
						{{localize "GDSA.charactersheet.charMenu"}}
					</div>
				</a>

				<a id="skillPage" class="item menuMainItem changeTab" data-tab="skillPage" data-destination="skillPage" data-origin="">
					<div class="menuItem" style="width: 74px;">
						{{localize "GDSA.charactersheet.skillMenu"}}
					</div>
				</a>

				<a id="combatePage" class="item menuMainItem changeTab" data-tab="combatePage" data-destination="combatePage" data-origin="">
					<div class="menuItem" style="width: 64px;">
						{{localize "GDSA.charactersheet.combatMenu"}}
					</div>
				</a>
			</div>

			<div class="menuCellMiddle">
				{{#if isGM}}<a id="gmPage" class="item menuMainItem changeTab" data-tab="gmPage" data-destination="gmPage" data-origin="">{{/if}}
					<div class="menuDivider menuMainItem">
						<b>{{localize "GDSA.charactersheet.system"}}</b>
					</div>
				{{#if isGM}}</a>{{/if}}
			</div>

			<div class="menuCell">
				{{#if (NOR system.magical system.klerikal)}}
					<a id="generaltraitPage" class="item menuMainItem changeTab" data-tab="generaltraitPage" data-destination="generaltraitPage" data-origin="">
						<div class="menuItem" style="width: 78px;">
							{{localize "GDSA.charactersheet.alSFMenu"}}
						</div>
					</a>
				{{/if}}
				{{#if (NAND system.magical system.klerikal)}}
					<a id="combattraitPage" class="item menuMainItem changeTab" data-tab="combattraitPage" data-destination="combattraitPage" data-origin="">
						<div class="menuItem" style="width: 78px;">
							{{localize "GDSA.charactersheet.cmbtMenu"}}
						</div>
					</a>
				{{/if}}
				{{#if system.magical}}
					<a id="magicPage" class="item menuMainItem changeTab" data-tab="magicPage" data-destination="magicPage" data-origin="">
						<div class="menuItem" style="width: 75px;">
							{{localize "GDSA.charactersheet.magicMenu"}}
						</div>
					</a>
				{{/if}}
				{{#if system.klerikal}}
					<a id="holyPage" class="item menuMainItem changeTab" data-tab="holyPage" data-destination="holyPage" data-origin="">
						<div class="menuItem" style="width: 75px;">
							{{localize "GDSA.charactersheet.holyMenu"}}
						</div>
					</a>
				{{/if}}
				<a id="itemPage" class="item menuMainItem changeTab" data-tab="itemPage" data-destination="itemPage" data-origin="">
					<div class="menuItem" style="width: 75px;">
						{{localize "GDSA.charactersheet.itemMenu"}}
					</div>
				</a>
			</div>
		</div>
	</nav>
</section>