<div style="height: 600px; text-align: center">
    
    <div class="combatBntBar">
        <a class="myButton lossKaP">{{localize "GDSA.charactersheet.mkap"}}</a> 
        <a class="myButton doMedi">{{localize "GDSA.charactersheet.medi"}}</a> 
        <a class="myButton getKaP">{{localize "GDSA.charactersheet.pkap"}}</a>
    </div>

    <div class="skill-lit">
        <table style="display: inline-block">
                <tr>
                    <td class="skillTableNameBig"><a class="item wonder-roll" data-statName="{{localize "GDSA.charactersheet.wonderskill"}}"
                    data-stat_one="{{system.MU.value}}" data-stat_two="{{system.IN.value}}" data-stat_three="{{system.CH.value}}" title="roll">
                        {{localize "GDSA.charactersheet.wonderskill"}}   
                    </a></td> 
                    <td class="skillTableValue"><input class="skillTemp" name="system.skill.liturgy" type="number" value="{{system.skill.liturgy}}" /></td>
                </tr>
        </table>
    </div>

    <div class="god-outer">
        <div class="god-inner"></div>
    </div>

    <div class="holyTraitBox">
        <div class="traithead">{{localize "GDSA.charactersheet.holyTrait"}}</div>
        <div class="flawbnt"><a class="changeTab item" data-destination="holytraitPage" data-origin="holyPage" data-optional="holy">
            <i class="fas fa-book plusSym"></i>
        </a></div>
		<div class="traithrbox"><hr class="maghr" /></div>
    	<section class="holytraits">
			{{#each holyTraits as |Trait id|}}
				<div class="item" data-type="{{system.type}}" data-item-id="{{_id}}">
                    <div class="trait">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div><hr class="maghr" />
                </div>
			{{/each}}
		</section>
    </div>

</div>