<div style="height: 600px; text-align: center">
    
    <div class="skill-mag">
        <div class="combatBntBar">
            <a class="myButton lossAsP specialBnt">{{localize "GDSA.charactersheet.masp"}}</a> 
            <a class="myButton doReg specialBnt">{{localize "GDSA.charactersheet.reg"}}</a> 
            <a class="myButton getAsP specialBnt">{{localize "GDSA.charactersheet.pasp"}}</a>
        </div>

        <div class="magicskillLbl">{{localize "GDSA.charactersheet.rit"}}</div>
        <div class="magAddRit"><a class="edit-ritSkill"><i class="fas fa-gear"></i></a></div>
        <div class="magRitFiller"></div>

        <div class="magRitSkillOverview">
            {{#if (isEqualORGreater system.skill.ritalch 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.alch"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritalch" type="number" value="{{system.skill.ritalch}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritderw 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.derw"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritderw" type="number" value="{{system.skill.ritderw}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritdrui 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.drui"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritdrui" type="number" value="{{system.skill.ritdrui}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritdurr 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.durr"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritdurr" type="number" value="{{system.skill.ritdurr}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritgban 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.gban"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritgban" type="number" value="{{system.skill.ritgban}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritgruf 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.gruf"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritgruf" type="number" value="{{system.skill.ritgruf}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritgauf 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.gauf"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritgauf" type="number" value="{{system.skill.ritgauf}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritgbin 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.gbin"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritgbin" type="number" value="{{system.skill.ritgbin}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritgeod 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.geod"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritgeod" type="number" value="{{system.skill.ritgeod}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritgild 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.gild"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritgild" type="number" value="{{system.skill.ritgild}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.rithexe 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.hexe"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.rithexe" type="number" value="{{system.skill.rithexe}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritkris 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.kris"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritkris" type="number" value="{{system.skill.ritkris}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritpetr 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.petr"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritpetr" type="number" value="{{system.skill.ritpetr}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritscha 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.scha"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritscha" type="number" value="{{system.skill.ritscha}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.rittanz 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.tanz"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.rittanz" type="number" value="{{system.skill.rittanz}}" /></div>
            {{/if}}

            {{#if (isEqualORGreater system.skill.ritzibi 1)}}
                <div class="magRitLbl">{{localize "GDSA.ritualSkills.zibi"}}</div>
                <div class="magRitValue"><input class="skillTemp2" name="system.skill.ritzibi" type="number" value="{{system.skill.ritzibi}}" /></div>
            {{/if}}
        </div>
    </div>

    <div class="holyTraitBox">
        <div class="traithead">{{localize "GDSA.charactersheet.magicTrait"}}</div>
        <div class="flawbnt"><a class="changeTab item" data-destination="magictraitPage" data-origin="magicPage" data-optional="magic">
            <i class="fas fa-book plusSym"></i>
        </a></div>
		<div class="traithrbox"><hr class="maghr" /></div>
    	<section class="holytraits">
			{{#each magicTraits as |Trait id|}}
				<div class="item" data-type="{{system.type}}" data-item-id="{{_id}}">
                    <div class="trait">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div><hr class="maghr" />
                </div>
			{{/each}}
		</section>
    </div>

</div>