<table style="display: inline-block">
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.andrSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.andr.atk" type="number" value="{{data.skill.andr.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.andr.def" type="number" value="{{data.skill.andr.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.andr.value" type="number" value="{{data.skill.andr.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.armbSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.armb.atk" type="number" value="{{data.skill.armb.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-5"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.armb.value" type="number" value="{{data.skill.armb.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.belaSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.bela.atk" type="number" value="{{data.skill.bela.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">-</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.bela.value" type="number" value="{{data.skill.bela.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.blasSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.blas.atk" type="number" value="{{data.skill.blas.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-5"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.blas.value" type="number" value="{{data.skill.blas.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.bognSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.bogn.atk" type="number" value="{{data.skill.bogn.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.bogn.value" type="number" value="{{data.skill.bogn.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.diskSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.disk.atk" type="number" value="{{data.skill.disk.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.disk.value" type="number" value="{{data.skill.disk.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.dolcSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.dolc.atk" type="number" value="{{data.skill.dolc.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.dolc.def" type="number" value="{{data.skill.dolc.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-1"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.dolc.value" type="number" value="{{data.skill.dolc.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.fechSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fech.atk" type="number" value="{{data.skill.fech.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fech.def" type="number" value="{{data.skill.fech.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-1"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fech.value" type="number" value="{{data.skill.fech.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.hiebSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hieb.atk" type="number" value="{{data.skill.hieb.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hieb.def" type="number" value="{{data.skill.hieb.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-4"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hieb.value" type="number" value="{{data.skill.hieb.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.infaSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.infa.atk" type="number" value="{{data.skill.infa.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.infa.def" type="number" value="{{data.skill.infa.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.infa.value" type="number" value="{{data.skill.infa.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.ketsSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.kets.atk" type="number" value="{{data.skill.kets.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.kets.def" type="number" value="{{data.skill.kets.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-1"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.kets.value" type="number" value="{{data.skill.kets.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.ketwSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ketw.atk" type="number" value="{{data.skill.ketw.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ketw.def" type="number" value="{{data.skill.ketw.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ketw.value" type="number" value="{{data.skill.ketw.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.lanzSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.lanz.atk" type="number" value="{{data.skill.lanz.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">-</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.lanz.value" type="number" value="{{data.skill.lanz.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.peitSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.peit.atk" type="number" value="{{data.skill.peit.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.peit.def" type="number" value="{{data.skill.peit.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-1"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.peit.value" type="number" value="{{data.skill.peit.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.raufSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.rauf.atk" type="number" value="{{data.skill.rauf.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.rauf.def" type="number" value="{{data.skill.rauf.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.rauf.value" type="number" value="{{data.skill.rauf.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.ringSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ring.atk" type="number" value="{{data.skill.ring.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ring.def" type="number" value="{{data.skill.ring.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ring.value" type="number" value="{{data.skill.ring.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.saebSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.saeb.atk" type="number" value="{{data.skill.saeb.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.saeb.def" type="number" value="{{data.skill.saeb.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.saeb.value" type="number" value="{{data.skill.saeb.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.sleuSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sleu.atk" type="number" value="{{data.skill.sleu.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sleu.value" type="number" value="{{data.skill.sleu.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.swerSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.swer.atk" type="number" value="{{data.skill.swer.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.swer.def" type="number" value="{{data.skill.swer.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.swer.value" type="number" value="{{data.skill.swer.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.sperSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sper.atk" type="number" value="{{data.skill.sper.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sper.def" type="number" value="{{data.skill.sper.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sper.value" type="number" value="{{data.skill.sper.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.stabSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stab.atk" type="number" value="{{data.skill.stab.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stab.def" type="number" value="{{data.skill.stab.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stab.value" type="number" value="{{data.skill.stab.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.wbeiSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wbei.atk" type="number" value="{{data.skill.wbei.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wbei.value" type="number" value="{{data.skill.wbei.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.wmesSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wmes.atk" type="number" value="{{data.skill.wmes.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wmes.value" type="number" value="{{data.skill.wmes.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.wspeSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wspe.atk" type="number" value="{{data.skill.wspe.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wspe.value" type="number" value="{{data.skill.wspe.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.zfleSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zfle.atk" type="number" value="{{data.skill.zfle.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zfle.def" type="number" value="{{data.skill.zfle.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zfle.value" type="number" value="{{data.skill.zfle.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.zhieSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zhie.atk" type="number" value="{{data.skill.zhie.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zhie.def" type="number" value="{{data.skill.zhie.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zhie.value" type="number" value="{{data.skill.zhie.value}}" /></td>
	</tr>
    <tr>
		<td class="skillTableNameCombat">{{localize "GDSA.charactersheet.zsweSkill"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zswe.atk" type="number" value="{{data.skill.zswe.atk}}" title="AT"/></td>
        <td class="skillTableFiller"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zswe.def" type="number" value="{{data.skill.zswe.def}}" title="PA"/></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zswe.value" type="number" value="{{data.skill.zswe.value}}" /></td>
	</tr>
</table>