<div style="overflow-y: scroll;">
    <table style="display: inline-block">
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.abriSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.abri" type="number" value="{{data.skill.abri}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.abriSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.ackeSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.acke" type="number" value="{{data.skill.acke}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.ackeSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.alchSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.alch" type="number" value="{{data.skill.alch}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.alchSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.bergSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.berg" type="number" value="{{data.skill.berg}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.bergSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.KO.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.bogeSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.boge" type="number" value="{{data.skill.boge}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.bogeSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.bootSkill"}} 
        <i>({{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKO"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.boot" type="number" value="{{data.skill.boot}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.bootSkill"}}"
        data-stat_one="{{data.GE.value}}" data-stat_two="{{data.KO.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.brauSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.brau" type="number" value="{{data.skill.brau}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.brauSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.drucSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.druc" type="number" value="{{data.skill.druc}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.drucSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.fahrSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fahr" type="number" value="{{data.skill.fahr}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.fahrSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.falsSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fals" type="number" value="{{data.skill.fals}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.falsSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.feinSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fein" type="number" value="{{data.skill.fein}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.feinSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.feueSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.feue" type="number" value="{{data.skill.feue}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.feueSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.fleiSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.flei" type="number" value="{{data.skill.flei}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.fleiSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.gerbSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.gerb" type="number" value="{{data.skill.gerb}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.gerbSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.glasSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.glas" type="number" value="{{data.skill.glas}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.glasSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.grobSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKO"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.grob" type="number" value="{{data.skill.grob}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.grobSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.KO.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.handSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hand" type="number" value="{{data.skill.hand}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.handSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.hausSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.haus" type="number" value="{{data.skill.haus}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.hausSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.hgifSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hgif" type="number" value="{{data.skill.hgif}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.hgifSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.hkraSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hkra" type="number" value="{{data.skill.hkra}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.hkraSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.hseeSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hsee" type="number" value="{{data.skill.hsee}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.hseeSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.hwunSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.hwun" type="number" value="{{data.skill.hwun}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.hwunSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.holzSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.holz" type="number" value="{{data.skill.holz}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.holzSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.instSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.inst" type="number" value="{{data.skill.inst}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.instSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.kartSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.kart" type="number" value="{{data.skill.kart}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.kartSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.kochSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.koch" type="number" value="{{data.skill.koch}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.kochSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.krisSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.kris" type="number" value="{{data.skill.kris}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.krisSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.ledeSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.lede" type="number" value="{{data.skill.lede}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.ledeSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.maleSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.male" type="number" value="{{data.skill.male}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.maleSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.maurSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.maur" type="number" value="{{data.skill.maur}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.maurSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.metaSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.meta" type="number" value="{{data.skill.meta}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.metaSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.musiSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.musi" type="number" value="{{data.skill.musi}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.musiSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.shloSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.shlo" type="number" value="{{data.skill.shlo}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.shloSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.shnaSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.shna" type="number" value="{{data.skill.shna}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.shnaSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.shneSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.shne" type="number" value="{{data.skill.shne}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.shneSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.seefSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.seef" type="number" value="{{data.skill.seef}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.seefSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.seilSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.seil" type="number" value="{{data.skill.seil}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.seilSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.stmeSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stme" type="number" value="{{data.skill.stme}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.stmeSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.stshSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stsh" type="number" value="{{data.skill.stsh}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.stshSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.stelSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stel" type="number" value="{{data.skill.stel}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.stelSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.stofSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stof" type="number" value="{{data.skill.stof}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.stofSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.taetSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.taet" type="number" value="{{data.skill.taet}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.taetSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.toepSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.toep" type="number" value="{{data.skill.toep}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.toepSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.viehSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.vieh" type="number" value="{{data.skill.vieh}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.viehSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.webkSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.webk" type="number" value="{{data.skill.webk}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.webkSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.winzSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.winz" type="number" value="{{data.skill.winz}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.winzSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.zimmSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zimm" type="number" value="{{data.skill.zimm}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.zimmSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    </table>
</div>