<section>
    <div class="gmBox">
        <table>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.InvEdit"}}</td>
                <td><input name="system.editInv" type="checkbox"  {{checked system.editInv}} /></td>
            </tr>
        </table>

        <table class="CharLog">
            <tr>
                <td class="gmTableHelper2">{{localize "GDSA.system.users"}}</td>
                <td class="gmTableHelper2">{{localize "GDSA.system.actions"}}</td>
                <td class="gmTableHelper2">{{localize "GDSA.system.date"}}</td>
                <td class="gmTableHelper2">{{localize "GDSA.system.time"}}</td>
                <td class="gmTableHelper2">{{localize "GDSA.system.element"}}</td>
            </tr>
            {{#each system.log}}
                <tr>
                    <td class="gmTableHelper2"><usr title="{{userId}}">{{userName}}</usr></td>
                    <td class="gmTableHelper2">{{action}}</td>
                    <td class="gmTableHelper2">{{date}}</td>
                    <td class="gmTableHelper2">{{time}}</td>
                    <td class="gmTableHelper2"><ele title="{{elementType}}">{{elementName}}</ele></td>
                </tr>
            {{/each}}
        </table>
    </div>
</section>