<table style="display: inline-block">
	<tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.akroSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.akro" type="number" value="{{data.skill.akro}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.akroSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KK.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.athSkill"}} 
        <i>({{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKO"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ath" type="number" value="{{data.skill.ath}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.athSkill"}}"
        data-stat_one="{{data.GE.value}}" data-stat_two="{{data.KO.value}}" data-stat_three="{{data.KK.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.flySkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fly" type="number" value="{{data.skill.fly}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.flySkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.GE.value}}" data-bemod="1" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.gaukSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.gauk" type="number" value="{{data.skill.gauk}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.gaukSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.FF.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.kletSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.klet" type="number" value="{{data.skill.klet}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.kletSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KK.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.koerSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.koer" type="number" value="{{data.skill.koer}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.koerSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.GE.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.reitSkill"}} 
        <i>({{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.reit" type="number" value="{{data.skill.reit}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.reitSkill"}}"
        data-stat_one="{{data.CH.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KK.value}}" data-bemod="-2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.schlSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.schl" type="number" value="{{data.skill.schl}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.schlSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.GE.value}}" data-bemod="1" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.swimSkill"}} 
        <i>({{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKO"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.swim" type="number" value="{{data.skill.swim}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.swimSkill"}}"
        data-stat_one="{{data.GE.value}}" data-stat_two="{{data.KO.value}}" data-stat_three="{{data.KK.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.selbSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKO"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableBE"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.selb" type="number" value="{{data.skill.selb}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.selbSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KO.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.sichSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sich" type="number" value="{{data.skill.sich}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.sichSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.GE.value}}" data-bemod="-2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.singSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-3"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sing" type="number" value="{{data.skill.sing}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.singSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.CH.value}}" data-bemod="-3" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.sinnSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableBE"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.sinn" type="number" value="{{data.skill.sinn}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.sinnSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.skiSkill"}} 
        <i>({{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ski" type="number" value="{{data.skill.ski}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.skiSkill"}}"
        data-stat_one="{{data.GE.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KO.value}}" data-bemod="-2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.stimSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE-4"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.stim" type="number" value="{{data.skill.stim}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.stimSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="-4" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.dancSkill"}} 
        <i>({{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.danc" type="number" value="{{data.skill.danc}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.dancSkill"}}"
        data-stat_one="{{data.CH.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.GE.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.tascSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableBE">{{localize "GDSA.charactersheet.BEx2"}}</td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.tasc" type="number" value="{{data.skill.tasc}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.tascSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="2" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableName">{{localize "GDSA.charactersheet.zechSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableBE"></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zech" type="number" value="{{data.skill.zech}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.zechSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.KO.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>	
</table>