<section>
    <div class="gmBox">
        <table>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.race"}}</td>
                <td><input class="gmInput" name="data.race" type="text" value="{{data.race}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.culture"}}</td>
                <td><input class="gmInput" name="data.kulture" type="text" value="{{data.kulture}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.profession"}}</td>
                <td><input class="gmInput" name="data.profession" type="text" value="{{data.profession}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.AP"}}</td>
                <td><input class="gmInput" name="data.AP.value" type="number" value="{{data.AP.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.freeAP"}}</td>
                <td><input class="gmInput" name="data.AP.free" type="number" value="{{data.AP.free}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.MU"}}</td>
                <td><input class="gmInput" name="data.MU.value" type="number" value="{{data.MU.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.KL"}}</td>
                <td><input class="gmInput" name="data.KL.value" type="number" value="{{data.KL.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.IN"}}</td>
                <td><input class="gmInput" name="data.IN.value" type="number" value="{{data.IN.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.CH"}}</td>
                <td><input class="gmInput" name="data.CH.value" type="number" value="{{data.CH.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.FF"}}</td>
                <td><input class="gmInput" name="data.FF.value" type="number" value="{{data.FF.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.GE"}}</td>
                <td><input class="gmInput" name="data.GE.value" type="number" value="{{data.GE.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.KO"}}</td>
                <td><input class="gmInput" name="data.KO.value" type="number" value="{{data.KO.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.KK"}}</td>
                <td><input class="gmInput" name="data.KK.value" type="number" value="{{data.KK.value}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.LeP"}} Mod</td>
                <td><input class="gmInput" name="data.LePInfo.modi" type="number" value="{{data.LePInfo.modi}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.AuP"}} Mod</td>
                <td><input class="gmInput" name="data.AuPInfo.modi" type="number" value="{{data.AuPInfo.modi}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.AsP"}} Mod</td>
                <td><input class="gmInput" name="data.AsPInfo.modi" type="number" value="{{data.AsPInfo.modi}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.KaP"}} Mod</td>
                <td><input class="gmInput" name="data.KaPInfo.modi" type="number" value="{{data.KaPInfo.modi}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.MR"}} Mod</td>
                <td><input class="gmInput" name="data.MR.modi" type="number" value="{{data.MR.modi}}" /></td>
            </tr>
            <tr>
                <td class="gmTableHelper">{{localize "GDSA.charactersheet.InvEdit"}}</td>
                <td><input class="gmInput" name="data.editInv" type="checkbox" value="{{data.editInv}}" /></td>
            </tr>
        </table>
    </div>
</section>