<section>
	<nav class="sheet-tabs tabs nav" data-group="primary">
		<div class="menuItemBox">

			<div class="menuItemBoxHelper"></div><br />
			
			<a class="item" data-tab="mainPage">
				<div class="menuItem">
					<div class="menuItemHelper"></div><br />
					{{localize "GDSA.charactersheet.charMenu"}}
	    		</div>
			</a>

			<a class="item" data-tab="skillPage">
	    		<div class="menuItem">
	   				<div class="menuItemHelper"></div><br />
					{{localize "GDSA.charactersheet.skillMenu"}}
  				</div>
			</a>

			<a class="item" data-tab="combatePage">
	    		<div class="menuItem">
		    		<div class="menuItemHelper"></div><br />
					{{localize "GDSA.charactersheet.combatMenu"}}
	    		</div>
			</a>
    	</div>

		{{#if isGM}}
			<a class="item" data-tab="gmPage">
		{{/if}}
    		<div class="menuDivider">
	    		<div class="menuDividerHelper"><img class="logoImg" src="systems/GDSA/templates/img/logo.webp"></div><br />
				<!--  -->
	    		<b>{{localize "GDSA.charactersheet.system"}}</b>
    		</div>
		{{#if isGM}}
			</a>
		{{/if}}

    	<div class="menuItemBox">

	    	<div class="menuItemBoxHelper"></div><br />

			<a class="item" data-tab="magicPage">
	    		<div class="menuItem">
		    		<div class="menuItemHelper"></div><br />
					{{localize "GDSA.charactersheet.magicMenu"}}
		    	</div>
			</a>

			<a class="item" data-tab="holyPage">
		    	<div class="menuItem">
		    		<div class="menuItemHelper"></div><br />
					{{localize "GDSA.charactersheet.holyMenu"}}
	    		</div>
			</a>

			<a class="item" data-tab="itemPage">
	    		<div class="menuItem">
		    		<div class="menuItemHelper"></div><br />
					{{localize "GDSA.charactersheet.itemMenu"}}
	    		</div>
			</a>
    	</div>
	</nav>
</section>