<section>
	<div class="factBox">
		<div class="factType">{{localize "GDSA.charactersheet.name"}}</div><div class="factValue2"><input class="statTemp2" name="name" type="text" value="{{actor.name}}" /></div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.race"}}</div><div class="factValue">{{system.race}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.culture"}}</div><div class="factValue">{{system.kulture}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.profession"}}</div><div class="factValue">{{system.profession}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.gender"}}</div><div data-edit="system.gender" class="factValue">{{system.gender}}</div><br />
		<hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.age"}}</div><div data-edit="system.age" class="factValue">{{system.age}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.height"}}</div><div data-edit="system.height" class="factValue">{{system.height}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.weight"}}</div><div data-edit="system.weight" class="factValue">{{system.weight}}</div><br />
        <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.so"}}</div><div data-edit="system.SO" class="factValue">{{system.SO}}</div>
		<div class="characterBNT"><a class="editFacts"><i class="fa-solid fa-gear"></i></a></div>
		<div class="characterBNT2"><a class="changeTab" data-destination="characterView" data-origin="mainPage"><i class="fa-solid fa-eye"></i></a></div>
	</div>
</section>