<div class="invFiller"></div>
<div class="skillHeaderBox">
    <div class="invMenuHelper">
	    <div class="skillHeaderSkillBox3">
            {{localize "GDSA.charactersheet.holyTrait"}}
	    </div>
        <div class="invAddBox">
            <a class="changeTab item" data-destination="holyPage" data-origin="" data-optional="" title="{{localize "GDSA.charactersheet.back"}}">
                <i class="fas fa-arrow-turn-down-left plusSym2"></i>
            </a>
        </div>
    </div>
</div>
<div class="inventory4">
    <div class="traitDetailsHeader">
        <div class="traitHeaderBig"><b>{{localize "GDSA.charactersheet.name"}}</b></div>
        <div class="traitHeaderSmall"><b>{{localize "GDSA.charactersheet.edit"}}</b></div>
        <div class="traitHeaderSmall"><b>{{localize "GDSA.charactersheet.del"}}</b></div>
    </div>
    <div class="traithrbox3"><hr class="traithrMain2" /></div>
    <div class="traitDetailsBody">
        {{#each holyTraits as |Trait id|}}
            <div class="item traitDetailItem" data-type="{{system.type}}" data-item-id="{{_id}}">
                <div class="traitDetailItemName">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div>
                <div class="traitDetailItemConfig"><a class="item-edit"><i class="fas fa-gear"></i></a></div>
                <div class="traitDetailItemConfig"><a class="item-delete"><i class="fas fa-trash-can"></i></a></div>
            </div>
            <div class="traithrbox3"><hr class="traithr2" /></div>
        {{/each}}
    </div>
    <div class="traithrbox2"><hr class="traithrMain2" /></div>
    <a class="template-create" data-type="trai" data-sf="holy" title="{{localize "GDSA.charactersheet.newholyTrait"}}"><div class="traitDetailsFooter"><b>+</b></div></a>
</div>