<table style="display: inline-block">
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.empaSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.empa" type="number" value="{{data.skill.empa}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.empaSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.gefaSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.gefa" type="number" value="{{data.skill.gefa}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.gefaSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.geraSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.gera" type="number" value="{{data.skill.gera}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.geraSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.kraeSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.krae" type="number" value="{{data.skill.krae}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.kraeSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.maggSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.magg" type="number" value="{{data.skill.magg}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.maggSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.propSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.prop" type="number" value="{{data.skill.prop}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.propSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.taleSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.tale" type="number" value="{{data.skill.tale}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.taleSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.tiemSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.tiem" type="number" value="{{data.skill.tiem}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.tiemSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.zwerSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zwer" type="number" value="{{data.skill.zwer}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.zwerSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
</table>