<section>
	<div class="factBox">
		<div class="factType">{{localize "GDSA.charactersheet.name"}}</div><div data-edit="name" class="factValue editableValue" contenteditable>{{actor.name}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.race"}}</div><div class="factValue">{{system.race}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.culture"}}</div><div class="factValue">{{system.kulture}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.profession"}}</div><div class="factValue">{{system.profession}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.gender"}}</div><div data-edit="system.gender" class="factValue editableValue" contenteditable>{{system.gender}}</div><br />
		<hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.age"}}</div><div data-edit="system.age" class="factValue editableValue" contenteditable>{{system.age}}</div><br />
    	<hr class="factDivider" />
		<div class="factType">{{localize "GDSA.charactersheet.height"}}</div><div data-edit="system.height" class="factValue editableValue" contenteditable>{{system.height}}</div><br />
	    <hr class="factDivider" />
	    <div class="factType">{{localize "GDSA.charactersheet.weight"}}</div><div data-edit="system.weight" class="factValue editableValue" contenteditable>{{system.weight}}</div><br />
        <hr class="factDivider" />
	   <div class="factType">{{localize "GDSA.charactersheet.so"}}</div><div data-edit="system.SO" class="factValue editableValue" contenteditable>{{system.SO}}</div>
	</div>
</section>