<div style="height: 600px; text-align: center">
    
    <div class="skill-lit">
        <div class="combatBntBar">
            <a class="myButton lossKaP specialBnt">{{localize "GDSA.charactersheet.mkap"}}</a> 
            <a class="myButton doMedi specialBnt">{{localize "GDSA.charactersheet.medi"}}</a> 
            <a class="myButton getKaP specialBnt">{{localize "GDSA.charactersheet.pkap"}}</a>
        </div>
        <div class="wonderskillLbl">
            <a class="item litSkill-roll" title="{{localize 'GDSA.chat.skill.roll'}}">{{localize "GDSA.charactersheet.wonderskill"}}</a>
        </div>
        <div class="wonderskillValue">
            <input class="skillTemp wonderskillInput" name="system.skill.liturgy" type="number" value="{{system.skill.liturgy}}" data-stat="liturgy" data-lbl="Liturgiekenntnis" />
        </div>
    </div>

    <div class="god-outer">
        <div class="god-inner"></div>
    </div>

    <div class="holyTraitBox">
        <div class="traithead">{{localize "GDSA.charactersheet.holyTrait"}}</div>
        <div class="flawbnt"><a class="changeTab item" data-destination="holytraitPage" data-origin="holyPage" data-optional="holy">
            <i class="fas fa-book plusSym"></i>
        </a></div>
		<div class="traithrbox"><hr class="maghr" /></div>
    	<section class="holytraits">
			{{#each holyTraits as |Trait id|}}
				<div class="item" data-type="{{system.type}}" data-item-id="{{_id}}">
                    <div class="trait">{{name}} {{#if (isSleeping this ../this)}}<i>({{localize "GDSA.system.sleeping"}})</i>{{/if}}</div><hr class="maghr" />
                </div>
			{{/each}}
		</section>
    </div>

</div>