<table style="display: inline-block">
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.betoSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.beto" type="number" value="{{data.skill.beto}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.betoSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.etikSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.etik" type="number" value="{{data.skill.etik}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.etikSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.gassSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.gass" type="number" value="{{data.skill.gass}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.gassSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.lehrSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.lehr" type="number" value="{{data.skill.lehr}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.lehrSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.mensSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.mens" type="number" value="{{data.skill.mens}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.mensSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.actiSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.acti" type="number" value="{{data.skill.acti}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.actiSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.KL.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.writSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.writ" type="number" value="{{data.skill.writ}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.writSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.clotSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sCH"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.clot" type="number" value="{{data.skill.clot}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.clotSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.CH.value}}" data-stat_three="{{data.GE.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.uberSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.uber" type="number" value="{{data.skill.uber}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.uberSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.zeugSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sCH"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.zeug" type="number" value="{{data.skill.zeug}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.zeugSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.CH.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
</table>