<table style="display: inline-block">

    {{#each config.bodySkill}}
        {{#if (ifOR ../data.allSkills (notEmpty (getData ../data/skill ./skill) includeZero=true))}}
            <tr>
                <td class="skillTableName">{{localize (concat "GDSA.charactersheet." skill "Skill")}} 
                <i>({{localize (concat "GDSA.charactersheet.s" att1 "")}}/{{localize (concat "GDSA.charactersheet.s" att2 "")}}/{{localize (concat "GDSA.charactersheet.s" att3 "")}})</i></td>
                {{#if (isGreater beMod 0)}}
                    {{#if (isGreater beMod 1)}}
                        <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BEx" beMod "")}}</td>
                    {{else}}
                        <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
                    {{/if}}
                {{else}}
                    {{#if (isGreater 0 beMod)}}
                        <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BE" beMod "")}}</td>
                    {{else}}
                        <td class="skillTableBE"></td>
                    {{/if}}
                {{/if}}
                <td class="skillTableValue"><input class="skillTemp" name="{{concat "data.skill." skill ""}}" type="number" value="{{getData ../data/skill ./skill}}" /></td>
                <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize (concat "GDSA.charactersheet." skill "Skill")}}"
                data-stat_one="{{getDataValue ../data ./att1 }}" data-stat_two="{{getDataValue ../data ./att2 }}" 
                data-stat_three="{{getDataValue ../data ./att3 }}" data-bemod="{{beMod}}" title="roll">
                <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
            </tr>

            {{#if (hasSpez ../data.SkillSpez skill)}}
                {{#each (getSpez ../data.SkillSpez skill)}}
                    <tr>
                        <td class="skillTableName">{{localize (concat "GDSA.charactersheet." ../skill "Skill")}} [{{spezi}}]
                        <i>({{localize (concat "GDSA.charactersheet.s" ../att1 "")}}/{{localize (concat "GDSA.charactersheet.s" ../att2 "")}}/{{localize (concat "GDSA.charactersheet.s" ../att3 "")}})</i></td>
                        {{#if (isGreater ../beMod 0)}}
                            {{#if (isGreater ../beMod 1)}}
                                <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BEx" ../beMod "")}}</td>
                            {{else}}
                                <td class="skillTableBE">{{localize "GDSA.charactersheet.BE"}}</td>
                            {{/if}}
                        {{else}}
                            {{#if (isGreater 0 ../beMod)}}
                                <td class="skillTableBE">{{localize (concat "GDSA.charactersheet.BE" ../beMod "")}}</td>
                            {{else}}
                                <td class="skillTableBE"></td>
                            {{/if}}
                        {{/if}}
                        <td class="skillTableValue"><input class="skillTemp" name="spezi" type="number" value="{{addSpez (getData ../../data/skill ../skill)}}" disabled/></td>
                        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize (concat "GDSA.charactersheet." ../skill "Skill")}} [{{spezi}}]"
                        data-stat_one="{{getDataValue ../../data ../att1 }}" data-stat_two="{{getDataValue ../../data ../att2 }}" 
                        data-stat_three="{{getDataValue ../../data ../att3 }}" data-bemod="{{../beMod}}" title="roll">
                        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
                    </tr>
                {{/each}}
            {{/if}}

        {{/if}}
    {{/each}}

</table>