<table style="display: inline-block">
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.faerSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.faer" type="number" value="{{data.skill.faer}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.faerSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.fallSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fall" type="number" value="{{data.skill.fall}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.fallSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.fessSkill"}} 
        <i>({{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fess" type="number" value="{{data.skill.fess}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.fessSkill"}}"
        data-stat_one="{{data.FF.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.fiscSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}}/{{localize "GDSA.charactersheet.sKK"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.fisc" type="number" value="{{data.skill.fisc}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.fiscSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.FF.value}}" data-stat_three="{{data.KK.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.orieSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.orie" type="number" value="{{data.skill.orie}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.orieSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.wettSkill"}} 
        <i>({{localize "GDSA.charactersheet.sKL"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sIN"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wett" type="number" value="{{data.skill.wett}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.wettSkill"}}"
        data-stat_one="{{data.KL.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.IN.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.wildSkill"}} 
        <i>({{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wild" type="number" value="{{data.skill.wild}}" /></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.wildSkill"}}"
        data-stat_one="{{data.IN.value}}" data-stat_two="{{data.GE.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.ansiSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.ansi" type="number" value="{{data.skill.ansi}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.ansiSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.GE.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.pirsSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sGE"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.pirs" type="number" value="{{data.skill.pirs}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.pirsSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.GE.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.nahrSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.nahr" type="number" value="{{data.skill.nahr}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.nahrSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.krauSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sFF"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.krau" type="number" value="{{data.skill.krau}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.krauSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.FF.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
    <tr>
		<td class="skillTableNameBig">{{localize "GDSA.charactersheet.wachSkill"}} 
        <i>({{localize "GDSA.charactersheet.sMU"}}/{{localize "GDSA.charactersheet.sIN"}}/{{localize "GDSA.charactersheet.sKO"}})</i></td>
        <td class="skillTableValue"><input class="skillTemp" name="data.skill.wach" type="number" value="{{data.skill.wach}}" readonly/></td>
        <td class="skillTableRoll"><a class="item skill-roll" data-statName="{{localize "GDSA.charactersheet.wachSkill"}}"
        data-stat_one="{{data.MU.value}}" data-stat_two="{{data.IN.value}}" data-stat_three="{{data.KO.value}}" data-bemod="0" title="roll">
        <i class="fas fa-dice-d20 faD20Stat"></i></a></td>
	</tr>
</table>