<div class="skillHeaderBox">
	<div class="skillHeaderSkillBox">
		<a class="item stat-roll" data-stattype="MU" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sMU"}}<br /><b>{{data.MU.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<a class="item stat-roll" data-stattype="KL" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sKL"}}<br /><b>{{data.KL.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<a class="item stat-roll" data-stattype="IN" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sIN"}}<br /><b>{{data.IN.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<a class="item stat-roll" data-stattype="CH" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sCH"}}<br /><b>{{data.CH.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<a class="item stat-roll" data-stattype="FF" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sFF"}}<br /><b>{{data.FF.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<a class="item stat-roll" data-stattype="GE" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sGE"}}<br /><b>{{data.GE.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<a class="item stat-roll" data-stattype="KO" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sKO"}}<br /><b>{{data.KO.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<a class="item stat-roll" data-stattype="KK" title="roll"><div class="skillHeaderStat">{{localize "GDSA.charactersheet.sKK"}}<br /><b>{{data.KK.value}}</b></div></a>
		<div class="skillHeaderFiller"></div>
		<div class="skillHeaderStat">{{localize "GDSA.charactersheet.sBE"}}<br /><b>{{data.gBEArmour}}</b></div>
	</div>
</div>
	
<div class="skillFiller"></div>
	
<div class="skillMenuBox">
	<nav class="skill-tabs tabs nav" data-group="secondary">
		<a class="item" data-tab="combatSkills"><div class="skillMenu" style="width: 58px;">{{localize "GDSA.charactersheet.combatSkills"}}</div></a>
		<a class="item" data-tab="bodySkills"><div class="skillMenu" style="width: 88px;">{{localize "GDSA.charactersheet.bodySkills"}}</div></a>
		<a class="item" data-tab="socialSkills"><div class="skillMenu" style="width: 100px;">{{localize "GDSA.charactersheet.socialSkills"}}</div></a>
		<a class="item" data-tab="natureSkills"><div class="skillMenu" style="width: 60px;">{{localize "GDSA.charactersheet.natureSkills"}}</div></a>
		<a class="item" data-tab="knowledgeSkills"><div class="skillMenu" style="width: 63px;">{{localize "GDSA.charactersheet.knowledgeSkills"}}</div></a>
		<a class="item" data-tab="langSkills"><div class="skillMenu" style="width: 70px;">{{localize "GDSA.charactersheet.langSkills"}}</div></a>
		<a class="item" data-tab="craftSkills"><div class="skillMenu" style="width: 89px;">{{localize "GDSA.charactersheet.craftSkils"}}</div></a>
		<a class="item" data-tab="giftSkills"><div class="skillMenu" style="width: 56px;">{{localize "GDSA.charactersheet.giftSkills"}}</div></a>
	</nav>
</div>
	
<div class="skillsBox">
	<section class="skill-body">
		<div class="skillsBox tab combatSkills" data-group="secondary" data-tab="combatSkills">
			{{> "systems/GDSA/templates/partials/character-sheet-combatSkills.hbs"}}			
		</div>
		<div class="skillsBox tab bodySkills" data-group="secondary" data-tab="bodySkills">
			{{> "systems/GDSA/templates/partials/character-sheet-bodySkills.hbs"}}
		</div>
		<div class="skillsBox tab socialSkills" data-group="secondary" data-tab="socialSkills">
			{{> "systems/GDSA/templates/partials/character-sheet-socialSkills.hbs"}}
		</div>
		<div class="skillsBox tab natureSkills" data-group="secondary" data-tab="natureSkills">
			{{> "systems/GDSA/templates/partials/character-sheet-natureSkills.hbs"}}
		</div>
		<div class="skillsBox tab knowledgeSkills" data-group="secondary" data-tab="knowledgeSkills">
			{{> "systems/GDSA/templates/partials/character-sheet-knowledgeSkills.hbs"}}
		</div>
		<div class="skillsBox tab langSkills" data-group="secondary" data-tab="langSkills">
			{{> "systems/GDSA/templates/partials/character-sheet-langSkills.hbs"}}
		</div>
		<div class="skillsBox tab craftSkills" data-group="secondary" data-tab="craftSkills">
			{{> "systems/GDSA/templates/partials/character-sheet-craftSkills.hbs"}}
		</div>
		<div class="skillsBox tab giftSkills" data-group="secondary" data-tab="giftSkills">
			{{> "systems/GDSA/templates/partials/character-sheet-giftSkills.hbs"}}
		</div>
	</section>
</div>