<option value="none"></option>
<option value="MU">{{localize "GDSA.charactersheet.MU"}}</option>
<option value="KL">{{localize "GDSA.charactersheet.KL"}}</option>
<option value="IN">{{localize "GDSA.charactersheet.IN"}}</option>
<option value="CH">{{localize "GDSA.charactersheet.CH"}}</option>
<option value="FF">{{localize "GDSA.charactersheet.FF"}}</option>
<option value="GE">{{localize "GDSA.charactersheet.GE"}}</option>
<option value="KO">{{localize "GDSA.charactersheet.KO"}}</option>
<option value="KK">{{localize "GDSA.charactersheet.KK"}}</option>
<option value="MR">{{localize "GDSA.charactersheet.MR"}}</option>
<option value="INI">{{localize "GDSA.charactersheet.INIBasis"}}</option>
<option value="ATB">{{localize "GDSA.charactersheet.ATBasis"}}</option>
<option value="PAB">{{localize "GDSA.charactersheet.PABasis"}}</option>
<option value="FKB">{{localize "GDSA.charactersheet.FKBasis"}}</option>