<form class="{{cssClass}}" autocomplete="off">

    <div class="browserImgBox3"><img class="browserImg" name="{{item.name}}" data-edit="img" src="{{item.img}}" /></div>

    <div class="ritHelper21">
        <div class="spHelper23"><b>{{localize "GDSA.itemsheet.name"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.itemsheet.weight"}}</b></div>
        <div class="spHelper1"><input class="spHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="spHelper3"><input class="spHelper5" name="system.weight" type="number" value="{{system.weight}}" /></div>
    </div>

    <div class="itemRow4">
        <div class="spHelper22"><b>{{localize "GDSA.itemsheet.typeItem"}}</b></div>
        <div class="spHelper31 centered"><b>{{localize "GDSA.itemsheet.worn"}}</b></div>
        <div class="spHelper31"><b>{{localize "GDSA.itemsheet.singleValue"}}</b></div>
        <div class="spHelper21"><select class="spHelper20" name="system.type">{{selectOptions config.itemTypes selected=system.type blank="" localize=true}}</select></div>
        <div class="spHelper31"><input class="arHelper10" name="system.worn" type="checkbox" {{checked system.worn}}></div>
        <div class="spHelper31"><input class="spHelper5" name="system.value" type="number" value="{{system.value}}" /></div>
    </div>

    <div class="itemMenu2">
        <nav class="tabs nav spell-tabs" data-group="spell">
            <a class="item" data-tab="spellDetails"><div class="spellMenu2">{{localize "GDSA.template.general"}}</div></a>
            <a class="item" data-tab="spellNotes"><div class="spellMenu">{{localize "GDSA.template.note"}}</div></a>
        </nav>
    </div>
    
    <div class="spellMenuBox">
	    <section class="spell-body">

            <div class="tab spellDetails" data-group="spell" data-tab="spellDetails">
                <div class="input220 spellName">{{localize "GDSA.itemsheet.storageT"}}:</div>
                <select class="input180" name="system.item.storage">{{selectOptions config.itemStorage selected=system.item.storage localize=true}}</select>
                <div class="itemFiller"></div>
                <div class="input220 spellName">{{localize "GDSA.itemsheet.type"}}:</div>
                <input class="input180" name="system.weapon.type" type="text" value="{{system.weapon.type}}"/>
                <div class="input220 spellName">{{localize "GDSA.itemsheet.shildType"}}:</div>
                <select class="input180" name="system.weapon.parType">{{selectOptions config.parryType selected=system.weapon.parType blank="" localize=true}}</select>
                <div class="input220 spellName">{{localize "GDSA.itemsheet.heigt"}}:</div>
                <select class="input180" name="system.weapon.size" {{#unless (equals system.weapon.parType "shild")}}disabled{{/unless}}>
                    {{selectOptions config.shildSize selected=system.weapon.size blank="" localize=true}}
                </select>
                <div class="itemFiller"></div>
                <div class="input220 spellName">{{localize "GDSA.itemsheet.BF"}}:</div>
                <input class="input90 centered" name="system.weapon.BF-cur" type="number" value="{{system.weapon.BF-cur}}"/>
                <input class="input90 centered" name="system.weapon.BF-min" type="number" value="{{system.weapon.BF-min}}"/>
                <div class="input220 spellName">{{localize "GDSA.itemsheet.INIB"}}:</div>
                <input class="input180 centered" name="system.weapon.INI" type="text" value="{{system.weapon.INI}}"/>
                <div class="input220 spellName">{{localize "GDSA.itemsheet.WaMo"}}:</div>
                <input class="input90 centered" name="system.weapon.WM-ATK" type="number" value="{{system.weapon.WM-ATK}}"/>
                <input class="input90 centered" name="system.weapon.WM-DEF" type="number" value="{{system.weapon.WM-DEF}}"/> 
            </div>
            
            <div class="tab spellNotes" data-group="spell" data-tab="spellNotes">
                <div class="itemNotesOut">{{editor system.notes class="itemNotesIn" target="system.notes" button=true engine="prosemirror" collaborate=false}}</div>
                <button class="noteBnt note-gm-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postGM"}}</button>
                <button class="noteBnt note-all-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postAll"}}</button>
            </div>

        </section>
    </div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>

</form>