<form class="{{cssClass}}" autocomplete="off">

    <div class="browserImgBox3"><img class="browserImg" name="{{item.name}}" data-edit="img" src="{{item.img}}" /></div>

    <div class="ritHelper21">
        <div class="spHelper23"><b>{{localize "GDSA.itemsheet.name"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.itemsheet.weight"}}</b></div>
        <div class="spHelper1"><input class="spHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="spHelper3">
            <input class="spHelper5" name="system.weight" type="number" value="{{system.weight}}" />
        </div>
    </div>

    <div class="itemRow4">
        <div class="spHelper22"><b>{{localize "GDSA.itemsheet.typeItem"}}</b></div>
        <div class="spHelper31 centered"><b>{{localize "GDSA.itemsheet.worn"}}</b></div>
        <div class="spHelper31"><b>{{localize "GDSA.itemsheet.singleValue"}}</b></div>
        
        <div class="spHelper21">
            <select class="spHelper20" name="system.type">
                {{#select system.type}}
                    {{#each config.itemTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="spHelper31">
            <input class="arHelper10" name="system.worn" type="checkbox" {{checked system.worn}}>
        </div>
        <div class="spHelper31">
            <input class="spHelper5" name="system.value" type="number" value="{{system.value}}" />
        </div>
    </div>

    <nav class="tabs nav spell-tabs" data-group="spell">
        <a class="item" data-tab="spellDetails"><div class="spellMenu2">{{localize "GDSA.template.general"}}</div></a>
        <a class="item" data-tab="spellNotes"><div class="spellMenu">{{localize "GDSA.template.note"}}</div></a>
    </nav>
    
    <div class="spellMenuBox">
	    <section class="spell-body">
            <div class="tab spellDetails" data-group="spell" data-tab="spellDetails">

                <div class="input220 spellName">{{localize "GDSA.itemsheet.storageT"}}:</div>
                <select class="input180" name="system.item.storage">
                    {{#select system.item.storage}}
                        <option value="bag">{{localize "GDSA.itemsheet.storageBag"}}</option>
                        <option value="carriage">{{localize "GDSA.itemsheet.storageCarriage"}}</option>
                        <option value="away">{{localize "GDSA.itemsheet.storageAway"}}</option>
                    {{/select}}
                </select>

                <div class="itemFiller"></div>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.type"}}:</div>
                <input class="input180" name="system.weapon.type" type="text" value="{{system.weapon.type}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.skill"}}:</div>
                <select class="input180" name="system.weapon.skill">
                    {{#select system.weapon.skill}}
                        <option value="null"></option>
                        {{#each template.talents.range as |item|}}
                            <option value="{{item._id}}">{{item.name}}</option>
                        {{/each}}
                    {{/select}}
                </select>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.ammunition"}}:</div>
                <select class="input180" name="system.weapon.ammu">
                    {{#select system.weapon.ammu}}
                        <option value="none">{{localize "GDSA.itemsheet.noAmmo"}}</option>
                        <option value="stone">{{localize "GDSA.itemsheet.stone"}}</option>
                        <option value="arrow">{{localize "GDSA.itemsheet.arrow"}}</option>
                        <option value="bolt">{{localize "GDSA.itemsheet.cbolt"}}</option>
                        <option value="round">{{localize "GDSA.itemsheet.round"}}</option>
                    {{/select}}
                </select>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.loadtime"}}:</div>
                <input class="input180 centered" name="system.weapon.loadActions" type="number" value="{{system.weapon.loadActions}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.kkpre"}}:</div>
                <input class="input180 centered" name="system.weapon.kkpre" type="text" value="{{system.weapon.kkpre}}"/>

                <div class="itemFiller"></div>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.damage"}}:</div>
                <input class="input180 centered" name="system.weapon.damage" type="text" value="{{system.weapon.damage}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.range"}}:</div>
                <input class="input25 centered" name="system.weapon.range1" type="text" value="{{system.weapon.range1}}"/>
                <input class="input25 centered" name="system.weapon.range2" type="text" value="{{system.weapon.range2}}"/>
                <input class="input25 centered" name="system.weapon.range3" type="text" value="{{system.weapon.range3}}"/>
                <input class="input25 centered" name="system.weapon.range4" type="text" value="{{system.weapon.range4}}"/>
                <input class="input25 centered" name="system.weapon.range5" type="text" value="{{system.weapon.range5}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.tpPlus"}}:</div>
                <input class="input25 centered" name="system.weapon.tp1" type="text" value="{{system.weapon.tp1}}"/>
                <input class="input25 centered" name="system.weapon.tp2" type="text" value="{{system.weapon.tp2}}"/>
                <input class="input25 centered" name="system.weapon.tp3" type="text" value="{{system.weapon.tp3}}"/>
                <input class="input25 centered" name="system.weapon.tp4" type="text" value="{{system.weapon.tp4}}"/>
                <input class="input25 centered" name="system.weapon.tp5" type="text" value="{{system.weapon.tp5}}"/>

            </div>
            
            <div class="tab spellNotes" data-group="spell" data-tab="spellNotes">

                <textarea class="litNotes" name="system.tale.notes">{{system.tale.notes}}</textarea>
                <button class="noteBnt note-gm-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postGM"}}</button>
                <button class="noteBnt note-all-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postAll"}}</button>
                
            </div>

        </section>
    </div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>

</form>