<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.templates.dodge"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input type="number" name="disadvantage" value="0" />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.modi"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
        
        <div class="form-group">
            <label>{{localize "GDSA.templates.DK"}}</label>
            <select id="inboxCast" class="spHelper5" name="dk">
                <option value="0"></option>
                <option value="4">{{localize "GDSA.charactersheet.rangeH"}}</option>
                <option value="2">{{localize "GDSA.charactersheet.rangeN"}}</option>
                <option value="1">{{localize "GDSA.charactersheet.rangeS"}}</option>
                <option value="0">{{localize "GDSA.charactersheet.rangeP"}}</option>
                <option value="4">{{localize "GDSA.charactersheet.rangeWW"}}</option>
                <option value="8">{{localize "GDSA.charactersheet.rangeFK"}}</option>
            </select>
        </div>

        <div class="form-group">
            <label>{{localize "GDSA.templates.directed"}}</label>
            <input id="inboxCast" type="checkbox" name="directed" />
        </div>

        <div class="form-group">
            <label>{{localize "GDSA.templates.addiFow"}}</label>
            <select id="inboxCast" class="spHelper5" name="addCombt">
                <option value="0">{{localize "GDSA.charactersheet.noneAdd"}}</option>
                <option value="2">{{localize "GDSA.charactersheet.oneAdd"}}</option>
                <option value="4">{{localize "GDSA.charactersheet.twoAdd"}}</option>
            </select>
        </div>
        
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
    
</form>