<form class="dialogConfig">
    <div class="form-group subMain"><div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.mirakel"}}<div class="submen"><hr class="subhr" /></div></div>
    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.advantage"}}</label>
        <input class="mediOpt" type="number" name="advantage" value="0" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input class="mediOpt" type="number" name="disadvantage" value="0" />
    </div>

    <div class="dialogFiller"></div>
    <div class="form-group subSub"><div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.acca"}}<div class="submen"><hr class="subhr" /></div></div>
    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.motivation"}}</label>
        <select class="mediOpt" name="motivation">{{selectOptions config.holyMotivation selected=motivation localize=true}}</select>
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.lastResort"}}</label>
        <input class="mediOpt" id="inboxCast" type="checkbox" name="lastResort" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.forcedHoly"}}</label>
        <input class="mediOpt" id="inboxCast" type="checkbox" name="forcedHoly" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.place"}}</label>
        <select class="mediOpt" name="place">{{selectOptions config.holyPlace selected=place localize=true}}</select>
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disbeliv"}}</label>
        <input class="mediOpt" id="inboxCast" type="checkbox" name="disbeliv" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.demonic"}}</label>
        <input class="mediOpt" id="inboxCast" type="checkbox" name="demonic" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.time"}}</label>
        <select class="mediOpt" name="time">{{selectOptions config.holyTime selected=time localize=true}}</select>
    </div>
    
    <div class="dialogFiller"></div>
    <div class="form-group subSub"><div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div></div>
    <div class="dialogFiller"></div>

</form>