<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{name}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.advantage"}}</label>
        <input class="mediOpt" type="number" name="advan" value="0" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input class="mediOpt" type="number" name="disad" value="0" />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.modi"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.bonusDMG"}}</label>
        <input class="mediOpt" type="number" name="bonus" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.aimed"}}</label>
        <input class="mediOpt" type="number" name="aimed" value="0" />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.winds"}}</label>
        <select class="mediOpt" name="winds">{{selectOptions config.rangeWinds selected=winds localize=true}}</select>
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.sight"}}</label>
        <select class="mediOpt" name="sight">{{selectOptions config.rangeSight selected=sight localize=true}}</select>
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.dista"}}</label>
        <select class="mediOpt" name="dista">{{selectOptions setWeaponR selected=dista}}</select>
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.movem"}}</label>
        <select class="mediOpt" name="movem">{{selectOptions config.rangeMovem selected=movem localize=true}}</select>     
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.hida"}}</label>
        <select class="mediOpt" name="hidea">{{selectOptions config.rangeHidea selected=hidea localize=true}}</select>  
    </div>
    <div class="dialogFiller"></div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.sizeX"}}</label>
        <select class="mediOpt" name="sizeX">{{selectOptions config.rangeSizeX selected=sizeX localize=true}}</select> 
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
</form>