<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.templates.regen"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input class="mediOpt" type="number" name="disadvantage" value="0" />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.modi"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

        <div class="form-group">
            <label>{{localize "GDSA.itemsheet.lep"}}</label>
            <input class="mediOpt" type="number" name="reglep" value="0" />
        </div>
        <div class="form-group">
            <label>{{localize "GDSA.itemsheet.asp"}}</label>
            <input class="mediOpt" type="number" name="regasp" value="0" />
        </div>
        <div class="form-group">
            <label>{{localize "GDSA.itemsheet.kap"}}</label>
            <input class="mediOpt" type="number" name="regkap" value="0" />
        </div>
        
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
</form>