<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.charactersheet.rit"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.alch"}}</label>
        <input class="mediOpt" type="number" name="ritalch" value="{{ritalch}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.derw"}}</label>
        <input class="mediOpt" type="number" name="ritderw" value="{{ritderw}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.drui"}}</label>
        <input class="mediOpt" type="number" name="ritdrui" value="{{ritdrui}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.durr"}}</label>
        <input class="mediOpt" type="number" name="ritdurr" value="{{ritdurr}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.gban"}}</label>
        <input class="mediOpt" type="number" name="ritgban" value="{{ritgban}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.gruf"}}</label>
        <input class="mediOpt" type="number" name="ritgruf" value="{{ritgruf}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.gauf"}}</label>
        <input class="mediOpt" type="number" name="ritgauf" value="{{ritgauf}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.gbin"}}</label>
        <input class="mediOpt" type="number" name="ritgbin" value="{{ritgbin}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.geod"}}</label>
        <input class="mediOpt" type="number" name="ritgeod" value="{{ritgeod}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.gild"}}</label>
        <input class="mediOpt" type="number" name="ritgild" value="{{ritgild}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.hexe"}}</label>
        <input class="mediOpt" type="number" name="rithexe" value="{{rithexe}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.kris"}}</label>
        <input class="mediOpt" type="number" name="ritkris" value="{{ritkris}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.petr"}}</label>
        <input class="mediOpt" type="number" name="ritpetr" value="{{ritpetr}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.scha"}}</label>
        <input class="mediOpt" type="number" name="ritscha" value="{{ritscha}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.tanz"}}</label>
        <input class="mediOpt" type="number" name="rittanz" value="{{rittanz}}" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.ritualSkills.zibi"}}</label>
        <input class="mediOpt" type="number" name="ritzibi" value="{{ritzibi}}" />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
    
</form>