<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{name}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.advantage"}}</label>
        <input type="number" name="advantage" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input type="number" name="disadvantage" value="0" />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.vari"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <input type="hidden" name="varCount" value="{{system.vars.length}}">

    {{#each system.vars}}
    <div class="form-group {{#unless (isEqualORGreater ../system.zfw minZfW)}}disabeldtext{{/unless}} {{#unless (isUsableVari this ../system.rep)}}disabeldtext{{/unless}}">
        <label>{{name}} <i>(ab ZfW {{minZfW}})</i></label>
        <input id="inboxCast"  type="checkbox" name="var{{@index}}" {{#unless (isEqualORGreater ../system.zfw minZfW)}}disabled{{/unless}} {{#unless (isUsableVari this ../system.rep)}}disabled{{/unless}} />
    </div>
    {{/each}}

    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.modi"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
    
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.tech"}}</label>
        <input id="inboxCast" type="checkbox" name="tech" {{#unless hasRep}}disabled{{/unless}} />
        <input id="inboxCast" type="hidden" name="rep" value="{{system.rep}}" />
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.zentech"}}</label>
        <input id="inboxCast"  type="checkbox" name="zentech" {{#unless hasRep}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.casttime}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.halfcast"}}</label>
        <input id="inputCast" type="number" name="halfcast" {{#unless hasRep}}disabled{{/unless}} {{#unless system.casttime}}disabled{{/unless}} value="0" /> Mal
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.casttime}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.doubcast"}}</label>
        <input id="inboxCast"  type="checkbox" name="doubcast" {{#unless hasRep}}disabled{{/unless}} {{#unless system.casttime}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.forced}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.forced"}}</label>
        <input id="inputCast" type="number" name="forced" {{#unless hasRep}}disabled{{/unless}} {{#unless system.forced}}disabled{{/unless}} value="0" /> Mal
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.cost}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.cost"}}</label>
        <input id="inputCast" type="number" name="costMod" {{#unless hasRep}}disabled{{/unless}} {{#unless system.cost}}disabled{{/unless}} value="0" /> Mal
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.range}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.preach"}}</label>
        <input id="inputCast" type="number" name="preach" {{#unless hasRep}}disabled{{/unless}} {{#unless system.range}}disabled{{/unless}} value="0" /> Mal
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.range}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.mreach"}}</label>
        <input id="inputCast" type="number" name="mreach" {{#unless hasRep}}disabled{{/unless}} {{#unless system.range}}disabled{{/unless}} value="0" /> Mal
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.duration}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.halfdura"}}</label>
        <input id="inputCast" type="number" name="halfdura" {{#unless hasRep}}disabled{{/unless}} {{#unless system.duration}}disabled{{/unless}} value="0" /> Mal
    </div>
    <div class="form-group {{#unless hasRep}}disabeldtext{{/unless}} {{#unless system.duration}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.doubdura"}}</label>
        <input id="inputCast" type="number" name="doubdura" {{#unless hasRep}}disabled{{/unless}} {{#unless system.duration}}disabled{{/unless}} value="0" /> Mal
    </div>

    {{#if hasPowerC}}
        <div class="form-group">
            <label>{{localize "GDSA.trait.powerC"}}</label>
            <input id="inputCast" type="checkbox" name="powerC"  value="0" checked />
        </div>
    {{/if}}
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
    
</form>