<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{name}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.advantage"}}</label>
        <input type="number" name="advantage" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input type="number" name="disadvantage" value="0" />
    </div>

    {{#if klerikal}}

        <div class="form-group">
            <label>{{localize "GDSA.chat.skill.mirakel"}}</label>
            <input id="inboxCast" type="checkbox" name="mirakel" />
        </div>

    {{/if}}
    
    <div class="dialogFiller"></div>

    {{#if isTalentS}}

        <div class="form-group subSub">
            <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.boni"}}<div class="submen"><hr class="subhr" /></div>
        </div>

        <div class="dialogFiller"></div>
        
        <div class="form-group">
            <label>{{localize "GDSA.chat.skill.powerS"}}</label>
            <input id="inputCast" type="checkbox" name="talentS" />
        </div>

        <div class="form-group">
            <label>{{localize "GDSA.chat.skill.advantage"}}</label>
            <input type="number" name="talSadvantage" value="0" />
        </div>
        
        <div class="form-group">
            <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
            <input type="number" name="talSdisadvantage" value="0" />
        </div>
        
        <div class="dialogFiller"></div>

    {{/if}}

    {{#if isMR}}

        <div class="form-group subSub">
            <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.boni"}}<div class="submen"><hr class="subhr" /></div>
        </div>

        <div class="dialogFiller"></div>

        {{#if ironWill}}
            <div class="form-group">
                <label>{{localize "GDSA.chat.skill.ironWill"}}</label>
                <input id="inputCast" type="checkbox" name="ironWill" />
            </div>
        {{/if}}

        {{#if willProt}}
            <div class="form-group">
                <label>{{localize "GDSA.chat.skill.willProt"}}</label>
                <input id="inputCast" type="checkbox" name="willProt" />
            </div>
        {{/if}}
        
        <div class="dialogFiller"></div>

    {{/if}}

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
    
</form>