<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{shortname}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.advantage"}}</label>
        <input type="number" name="advantage" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input type="number" name="disadvantage" value="0" />
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.modi"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.ritDura"}} {{localize "GDSA.chat.medi.decre"}}</label>
        <input id="inboxCast" type="checkbox" name="ritduaration" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.target"}} {{localize "GDSA.chat.medi.incre"}}</label>
        <input id="inboxCast" type="checkbox" name="target" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.rangeH"}} {{localize "GDSA.chat.medi.incre"}}</label>
        <input id="inboxCast" type="checkbox" name="rangeH" {{#unless (checkWonderRange this)}}disabled{{/unless}} {{#unless allowReachUpgrade}}disabled{{/unless}} />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.wirkDur"}} {{localize "GDSA.chat.medi.incre"}}</label>
        <input id="inboxCast" type="checkbox" name="duration" {{#if (equals system.duration "Permanent")}}disabled{{/if}} {{#if (equals system.duration "Speziell")}}disabled{{/if}} />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.acca"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.motivation"}}</label>
        <select class="mediOpt" name="motivation">{{selectOptions config.holyMotivation selected=motivation localize=true}}</select>
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.lastResort"}}</label>
        <input id="inboxCast" type="checkbox" name="lastResort" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.forcedHoly"}}</label>
        <input id="inboxCast" type="checkbox" name="forcedHoly" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.place"}}</label>
        <select class="mediOpt" name="place">{{selectOptions config.holyPlace selected=place localize=true}}</select>
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disbeliv"}}</label>
        <input id="inboxCast" type="checkbox" name="disbeliv" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.demonic"}}</label>
        <input id="inboxCast" type="checkbox" name="demonic" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.time"}}</label>
        <select class="mediOpt" name="time">{{selectOptions config.holyTime selected=time localize=true}}</select>
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.resulting"}}</label>
        <select class="mediOpt" name="resulting">{{selectOptions config.holyResulting selected=resulting localize=true}}</select>       
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.othbreak"}}</label>
        <input id="inboxCast" type="checkbox" name="othbreak" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.symbolFrev"}}</label>
        <input id="inboxCast" type="checkbox" name="symbolFrev" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.smallPakt"}}</label>
        <input id="inboxCast" type="checkbox" name="smallPakt" />
    </div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.medi.help"}}</label>
        <select class="mediOpt" name="help">{{selectOptions config.holyHelp selected=help localize=true}}</select>      
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

</form>