<div class="GDSA chat message">
    <div class="iniBox">
        
        <div class="flawName">{{localize "GDSA.combat.DMG"}}</div>
        <div class="dicefiller"></div>
        <div class="diceCol2">
            <div class="dices2">
                <div class="nodice"></div>
                <div class="diceD6">{{roll.dice.[0].values.[0]}}</div>
                <div class="nodice"></div>
            </div>
        </div>

        <div class="dicefiller"></div>
        <div class="dice-formula">
            <div class="rollFlawSuccess">{{totalDMG}} {{localize "GDSA.combat.DMGOf"}}</div>
        </div>
        <div class="dicefiller"></div>
        <div class="dice-formula">
            <div class="rollFlawSuccess">{{zone}}</div>
        </div>
    </div>
</div>