<form>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.advantage"}}</label>
        <input type="number" name="advan" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input type="number" name="disad" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.wucht"}}</label>
        <input type="number" name="wucht" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.finte"}}</label>
        <input type="number" name="finte" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.sturm"}}</label>
        <input type="checkbox" name="sturm" value="false" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.hamme"}}</label>
        <input type="checkbox" name="hamme" value="false" />
    </div>
</form>