<div class="GDSA chat message">
    <div class="iniBox">
        
        <div class="flawName">{{localize "GDSA.combat.RegLeP"}}</div>
        <div class="dicefiller"></div>
        <div class="diceCol">
            <div class="dices">
                <div class="diceD62">{{roll.total}}</div>
                <div class="dice">{{roll2.total}}</div>
            </div>
        </div>

        <div class="dicefiller"></div>
        <div class="dice-formula">
            <div class="rollFlawSuccess">{{regtotal}}{{localize "GDSA.combat.RegOf"}}</div>
        </div>
    </div>
</div>