<div class="GDSA chat message">
    <div class="infoBox">
        {{#if dmg}}
            {{actor.name}} {{localize "GDSA.chat.dialog.has"}} <i class="fas fa-tint faD20Stat"></i> {{value}} {{localize "GDSA.chat.dialog.spentLeP"}}
        {{/if}}
        {{#if heal}}
            {{actor.name}} {{localize "GDSA.chat.dialog.got"}} <i class="fas fa-cross faD20Stat"></i> {{value}}  {{localize "GDSA.chat.dialog.gotLeP"}}
        {{/if}}
    </div>
</div>