<div class="GDSA chat message">
    <div class="infoBox">
        {{#if add}}
            {{actor.name}} hat {{gold}} Dukaten {{silver}} Silber {{copper}} Heller {{nikel}} Kreuzer erhalten!
        {{else}}
            {{actor.name}} hat {{gold}} Dukaten {{silver}} Silber {{copper}} Heller {{nikel}} Kreuzer ausgegeben!
        {{/if}}
    </div>
</div>