<div class="GDSA chat message">
    <div class="flawBox {{#if modPresent}}statModBoxAdd{{/if}}">
        
        <div class="flawName">{{statName}} {{statValue}}</div>
        <div class="dicefiller"></div>
        <div class="diceCol">
            <div class="dices2">
                <div class="dice">{{roll.total}}</div>
                <div class="dice">{{roll2.total}}</div>
                <div class="dice">{{roll3.total}}</div>
            </div>
        </div>
        
        <div class="dicefiller"></div>
        
        {{#if modPresent}}
            {{#if isAdv}}
            <div class="rollposMod">{{localize "GDSA.chat.skill.advantageOf"}} {{adv}}</div>
            <div class="dicefiller"></div>
            {{/if}}
            {{#if isDis}}
            <div class="rollnegMod">{{localize "GDSA.chat.skill.disadvantageOf"}} {{dis}}</div>
            <div class="dicefiller"></div>
            {{/if}}
        {{/if}}
        
        <div class="dice-formula">
            {{#if result}}
                {{#if critt}}
                    <div class="rollFlawSuccess">{{localize "GDSA.chat.stat.critt"}}</div>
                {{else}}
                    <div class="rollSkillSuccess">{{localize "GDSA.chat.stat.sucessWith"}} {{tap}} {{localize "GDSA.chat.stat.TaPS"}}<br />
                    {{tapMax}}{{localize "GDSA.chat.stat.maxMod"}}</div>
                {{/if}}
            {{else}}
                {{#if goof}}
                    <div class="rollFlawFail">{{localize "GDSA.chat.stat.goof"}}</div>
                {{else}}
                    <div class="rollSkillFail">{{localize "GDSA.chat.stat.fail"}} <br />
                    {{tap}}{{localize "GDSA.chat.stat.maxErl"}}</div>
                {{/if}}
            {{/if}}
        </div>
        
    </div>
</div>