<form class="dialogConfig">
    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{name}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.advantage"}}</label>
        <input type="number" name="advantage" value="0" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.disadvantage"}}</label>
        <input type="number" name="disadvantage" value="0" />
    </div>
    
    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.vari"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    {{#each system.vars}}
    <div class="form-group {{#unless (isEqualORGreater ../system.zfw minZfW)}}disabeldtext{{/unless}}">
        <label>{{name}} <i>(ab ZfW {{minZfW}})</i></label>
        <input id="inboxCast"  type="checkbox" name="a" {{#unless (isEqualORGreater ../system.zfw minZfW)}}disabled{{/unless}} />
    </div>
    {{/each}}

    <div class="dialogFiller"></div>

    <div class="form-group subSub">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.chat.skill.modi"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>
    
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.tech"}}</label>
        <input id="inboxCast" type="checkbox" name="a" />
    </div>
    <div class="form-group">
        <label>{{localize "GDSA.chat.skill.zentech"}}</label>
        <input id="inboxCast"  type="checkbox" name="b" />
    </div>
    <div class="form-group {{#unless system.casttime}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.halfcast"}}</label>
        <input id="inputCast" type="number" name="e" {{#unless system.casttime}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless system.casttime}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.doubcast"}}</label>
        <input id="inboxCast"  type="checkbox" name="a" {{#unless system.casttime}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless system.forced}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.forced"}}</label>
        <input id="inputCast" type="number" name="e" {{#unless system.forced}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless system.cost}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.cost"}}</label>
        <input id="inputCast" type="number" name="e" {{#unless system.cost}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless system.range}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.preach"}}</label>
        <input id="inputCast" type="number" name="e" {{#unless system.range}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless system.range}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.mreach"}}</label>
        <input id="inputCast" type="number" name="e" {{#unless system.range}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless system.duration}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.halfdura"}}</label>
        <input id="inputCast" type="number" name="e" {{#unless system.duration}}disabled{{/unless}} />
    </div>
    <div class="form-group {{#unless system.duration}}disabeldtext{{/unless}}">
        <label>{{localize "GDSA.chat.skill.doubdura"}}</label>
        <input id="inputCast" type="number" name="e" {{#unless system.duration}}disabled{{/unless}} />
    </div>
    
    <div class="dialogFiller"></div>

</form>