<div id="buff-hud" class="app buff-hud">
    <div class="buffLine">
        {{#each ownEffects as |effect|}}
            {{#unless effect.disabled}}
                <span class="buffSpan">
                    <div class="testBuff" style="border-color: {{effect.tint.css}}; background-image: url({{effect.img}}); background-size: contain;">{{getNumber effect.name}}</div>
                    <span class='tooltipText4'><div class='tooltipInI'>{{effect.name}}{{#if effect.description}} - {{effect.description}}{{/if}}</div></span>
                </span>
            {{/unless}}
        {{/each}}
    </div>
    <div class="buffLine">
        {{#each selEffects as |effect|}}
            {{#unless effect.disabled}}
                <span class="buffSpan">
                    <div class="testBuff" style="border-color: {{effect.tint.css}}; background-image: url({{effect.img}}); background-size: contain;">{{getNumber effect.name}}</div>
                    <span class='tooltipText4'><div class='tooltipInI'>{{effect.name}}{{#if effect.description}} - {{effect.description}}{{/if}}</div></span>
                </span>
            {{/unless}}
        {{/each}}
    </div>
</div>