<div id="buff-hud" class="app buff-hud">
    <div class="buffLine">
        {{#each ownEffects as |effect|}}
            {{#unless effect.disabled}}
                <span class="buffSpan" data-tooltip="{{effect.name}}{{#if effect.description}} - {{effect.description}}{{/if}}" data-tooltip-direction="LEFT">
                    <div class="testBuff" style="border-color: {{effect.tint.css}}; background-image: url({{effect.img}}); background-size: contain;">I</div>
                </span>
            {{/unless}}
        {{/each}}
    </div>
    <div class="buffLine">
        {{#each selEffects as |effect|}}
            {{#unless effect.disabled}}
                <span class="buffSpan" data-tooltip="{{effect.name}}{{#if effect.description}} - {{effect.description}}{{/if}}" data-tooltip-direction="LEFT">
                    <div class="testBuff" style="border-color: {{effect.tint.css}}; background-image: url({{effect.img}}); background-size: contain;">{{getNumber effect.name}}</div>
                </span>
            {{/unless}}
        {{/each}}
    </div>
</div>