<form class="settings" autocomplete="off">
    <div class="browserMenu">

        <div class="browserMenuEntry">Suche</div>
        <input class="browserMenuInput searchbar" id="menuSearch" type="text" name="search" value="{{search}}" /> 

        {{#if (equals type "spell")}}

            <div class="browserMenuEntry">Merkmal</div>

            <select class="browserMenuInput" name="trait">
                {{#select trait}}
                    {{#each config.magicTraits as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>     

            <div class="browserMenuEntry">Repräsentation</div>
            <select class="browserMenuInput" name="rep">
                {{#select rep}}
                    {{#each config.magicReps as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>

            <div class="browserMenuEntry">Verbreitung</div>
            <input id="menuVer" class="browserInput" name="V0" type="checkbox" {{checked v0}}/><div class="spellVMenu">0</div>
            <input id="menuVer" class="browserInput" name="V1" type="checkbox" {{checked v1}}/><div class="spellVMenu">1</div>
            <input id="menuVer" class="browserInput" name="V2" type="checkbox" {{checked v2}}/><div class="spellVMenu">2</div>
            <input id="menuVer" class="browserInput" name="V3" type="checkbox" {{checked v3}}/><div class="spellVMenu">3</div>
            <div class="spellVSpacer"></div>
            <input id="menuVer" class="browserInput" name="V4" type="checkbox" {{checked v4}}/><div class="spellVMenu">4</div>
            <input id="menuVer" class="browserInput" name="V5" type="checkbox" {{checked v5}}/><div class="spellVMenu">5</div>
            <input id="menuVer" class="browserInput" name="V6" type="checkbox" {{checked v6}}/><div class="spellVMenu">6</div>
            <div class="browserMenuEntry">Komplexität</div>
            <div class="spellVSpacer"></div>
            <input id="menuVer" class="browserInput" name="KA" type="checkbox" {{checked kA}}/><div class="spellVMenu">A</div>
            <input id="menuVer" class="browserInput" name="KB" type="checkbox" {{checked kB}}/><div class="spellVMenu">B</div>
            <input id="menuVer" class="browserInput" name="KC" type="checkbox" {{checked kC}}/><div class="spellVMenu">C</div>
            <div class="spellVSpacer"></div><div class="spellVSpacer"></div>
            <input id="menuVer" class="browserInput" name="KD" type="checkbox" {{checked kD}}/><div class="spellVMenu">D</div>
            <input id="menuVer" class="browserInput" name="KE" type="checkbox" {{checked kE}}/><div class="spellVMenu">E</div>
            <input id="menuVer" class="browserInput" name="KF" type="checkbox" {{checked kF}}/><div class="spellVMenu">F</div>
        {{/if}}


        {{#if (equals type "melee-weapons")}}

            <div class="browserMenuEntry">Talent</div>

            <select class="browserMenuInput" name="skill">
                {{#select skill}}
                    {{#each config.meleeSkills as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select> 

        {{/if}}

        {{#if (equals type "range-weapons")}}

            <div class="browserMenuEntry">Talent</div>

            <select class="browserMenuInput" name="skill">
                {{#select skill}}
                    {{#each config.rangeSkills as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select> 

        {{/if}}

        {{#if (equals type "armour")}}

            <div class="browserMenuEntry">Rüstung</div>

            <select class="browserMenuInput" name="aPlace">
                {{#select aPlace}}
                    {{#each config.amourPlace as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select> 

        {{/if}}

    </div>
    <div class="browserContent">

        {{#if (equals type "spell")}}
            <div class="headline">Zauber</div>

            {{#each items as |item id|}}
                <div class="item itemBrowserBox" data-id="{{_id}}">
                    <div class="browserImgBox"><img class="browserImg" name="{{name}}" src="{{img}}" /></div>
                    <div class="browserName"><b>{{name}}</b> ({{system.att1}}/{{system.att2}}/{{system.att3}})<br /><i> > {{getTraits system}}</i></div>
                    <div class="browserComplex">{{system.komp}}</div>
                </div>
            {{/each}}
        {{/if}}

        {{#if (equals type "melee-weapons")}}
            <div class="headline">Nahkampfwaffe</div>

            {{#each items as |item id|}}
                <div class="item itemBrowserBox" data-id="{{_id}}">
                    <div class="browserImgBox"><img class="browserImg" name="{{name}}" src="{{img}}" /></div>
                    <div class="browserName"><b>{{name}}</b> <br /><i> > {{localize (getMeleeSkill system.skill)}}</i></div>
                    <div class="browserComplex">M</div>
                </div>
            {{/each}}
        {{/if}}

        {{#if (equals type "range-weapons")}}
            <div class="headline">Fernkampfwaffe</div>

            {{#each items as |item id|}}
                <div class="item itemBrowserBox" data-id="{{_id}}">
                    <div class="browserImgBox"><img class="browserImg" name="{{name}}" src="{{img}}" /></div>
                    <div class="browserName"><b>{{name}}</b> <br /><i> > {{localize (getRangeSkill system.skill)}}</i></div>
                    <div class="browserComplex">R</div>
                </div>
            {{/each}}
        {{/if}}

        {{#if (equals type "shields")}}
            <div class="headline">Schilde / Parrierwaffen</div>

            {{#each items as |item id|}}
                <div class="item itemBrowserBox" data-id="{{_id}}">
                    <div class="browserImgBox"><img class="browserImg" name="{{name}}" src="{{img}}" /></div>
                    <div class="browserName"><b>{{name}}</b> <br /><i> > {{system.heigt}}</i></div>
                    <div class="browserComplex">S</div>
                </div>
            {{/each}}
        {{/if}}

        {{#if (equals type "armour")}}
            <div class="headline">Rüstung</div>

            {{#each items as |item id|}}
                <div class="item itemBrowserBox" data-id="{{_id}}">
                    <div class="browserImgBox"><img class="browserImg" name="{{name}}" src="{{img}}" /></div>
                    <div class="browserName"><b>{{name}}</b> <br /><i> > {{#if system.Z}} Zusatzrüstung {{else}} Zonenrüstung {{/if}}</i></div>
                    <div class="browserComplex">A</div>
                </div>
            {{/each}}
        {{/if}}
    </div>
</form>