<form class="flexcol settings heldenImportHelper1" autocomplete="off">

    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.system.importer"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="heldenImportHelper2">{{localize "GDSA.system.import"}}</div>

    <input class="heldenImportHelper3" type="file" id="Heldenimport" />

    <div class="dialogFiller"></div>

    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div>{{localize "GDSA.system.overview"}}<div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="heldenImportHelper6">
        <div class="heldenImportHelper7" id="overview1"></div>
        <div class="heldenImportHelper7" id="overview2"></div>
    </div>

    <div class="dialogFiller"></div>

    <div class="form-group subMain">
        <div class="submen"><hr class="subhr" /></div><div class="submen"><hr class="subhr" /></div>
    </div>

    <div class="heldenImportHelper5">
        <button id="bnt1" class="heldenImportHelper4" type="button">{{localize "GDSA.system.create"}}</button>
        <button class="heldenImportHelper4"  type="button">{{localize "GDSA.system.abort"}}</button>
    </div>

</form>