<div class="importName">{{name}}</div>

<hr class="subhr" />

<div class="importBox">
    <div class="importStat1">Rasse</div> <div class="importStat2">{{info.race}}</div>
    <div class="importStat1">Kultur</div> <div class="importStat2">{{info.culture}}</div>
    <div class="importStat1">Profession</div> <div class="importStat2">{{info.profession}}</div>
</div>

<hr class="subhr" />

<div class="importBox">
    <div class="importStat1">AP</div> <div class="importStat2">{{formatNumber stats.ap}}</div>
    <div class="importStat1">GP</div> <div class="importStat2">{{stats.gp}}</div>
    <div class="importStat1">Attributspunkte</div> <div class="importStat2">{{stats.attPoints}}</div>
</div>

<hr class="subhr" />

<div class="importBox">
    <div class="importStat1">Vorteile</div> <div class="importStat2">{{advantages.length}}</div>
    <div class="importStat1">Nachteile</div> <div class="importStat2">{{disadvantages.length}}</div>
    <div class="importStat1">Sonderfertigkeiten</div> <div class="importStat2">{{sfGeneral.length}}</div>
    <div class="importStat1">Talente</div> <div class="importStat2">{{stats.skills}}</div>
    <div class="importStat1">Zauber</div> <div class="importStat2">{{spells.length}}</div>
    <div class="importStat1">Rituale</div> <div class="importStat2">{{rits.length}}</div>
    <div class="importStat1">Objektrituale</div> <div class="importStat2">{{objectRit.length}}</div>
    <div class="importStat1">Liturgien</div> <div class="importStat2">{{wonders.length}}</div>
    <div class="importStat1">Gegenstände</div> <div class="importStat2">{{items.length}}</div>
</div>