<div class="importName">{{name}}</div>

<hr class="subhr" />

<div class="importBox">
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.race"}}</div><div class="importStat2">{{info.race}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.culture"}}</div><div class="importStat2">{{info.culture}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.profession"}}</div><div class="importStat2">{{info.profession}}</div></div>
</div>

<hr class="subhr" />

<div class="importBox">
    <div class="importRow"><div class="importStat1">AP</div><div class="importStat2">{{formatNumber stats.ap}}</div></div>
    <div class="importRow"><div class="importStat1">GP</div><div class="importStat2">{{stats.gp}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.attributes"}}</div><div class="importStat2">{{stats.attPoints}}</div></div>
</div>

<hr class="subhr" />

<div class="importBox">
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.advantage"}}</div><div class="importStat2">{{advantages.length}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.flaw"}}</div><div class="importStat2">{{disadvantages.length}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.templates.sfs"}}</div><div class="importStat2">{{sfGeneral.length}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.talente"}}</div><div class="importStat2">{{stats.skills}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.cast"}}</div><div class="importStat2">{{spells.length}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.ritual"}}</div><div class="importStat2">{{rits.length}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.mobjekt"}}</div><div class="importStat2">{{objectRit.length}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.wonder"}}</div><div class="importStat2">{{wonders.length}}</div></div>
    <div class="importRow"><div class="importStat1">{{localize "GDSA.charactersheet.items"}}</div><div class="importStat2">{{items.length}}</div></div>
</div>