<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input class="nameLable" name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    </header>
    <input name="data.fontColo" type="color" value="{{data.fontColo}}" style="float: left; width: 375px;" />
    <input name="data.backgroundColor" type="color" value="{{data.backgroundColor}}" style="float: left; width: 375px;" />
</form>