<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="itemImg" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <div class="afHelper1">
            <input class="afHelper2" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
            <input class="afHelper3" name="system.fontColo" type="color" value="{{system.fontColo}}" />
            <input class="afHelper4" name="system.backgroundColor" type="color" value="{{system.backgroundColor}}" />
        </div>
    </header>
    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>
</form>