<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header arHelper17">
        <img class="itemImg" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input class="afHelper2" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
    </header>

    <div class="arHelper1">

        <div class="arHelper2">
            <div class="arHelper3">
                <b>{{localize "GDSA.itemsheet.typeArmor"}}</b><br />
                <input class="arHelper4" name="system.type" type="text" value="{{system.type}}" />
            </div>
            <div class="arHelper5">
                <b>{{localize "GDSA.itemsheet.star"}}</b><br />
                <input class="arHelper6" name="system.star" type="text" value="{{system.star}}" />
            </div>
            <div class="arHelper7">
                <b>Z</b><br />
                <input class="arHelper8" name="system.Z" type="checkbox" {{checked system.Z}} />
            </div>
            <div class="arHelper9">
                <b>{{localize "GDSA.itemsheet.worn"}}</b><br />
                <input class="arHelper10" name="system.worn" type="checkbox" {{checked system.worn}}>
            </div>
        </div>

        <div class="arHelper2">
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.head"}}</b><br />
                <input class="arHelper12" name="system.head" type="text" value="{{system.head}}" />
            </div>
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.body"}}</b><br />
                <input class="arHelper12" name="system.body" type="text" value="{{system.body}}" />
            </div>
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.back"}}</b><br />
                <input class="arHelper12" name="system.back" type="text" value="{{system.back}}" />
            </div>
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.stomach"}}</b><br />
                <input class="arHelper12" name="system.stomach" type="text" value="{{system.stomach}}" />
            </div>
            <div class="arHelper16">
                <b>{{localize "GDSA.itemsheet.weight"}}</b><br />
                <input class="arHelper13" name="system.weight" type="text" value="{{system.weight}}" />
            </div>
        </div>

        <div class="arHelper2">       
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.rArm"}}</b><br />
                <input class="arHelper12" name="system.rightarm" type="text" value="{{system.rightarm}}" />
            </div>
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.lArm"}}</b><br />
                <input class="arHelper12" name="system.leftarm" type="text" value="{{system.leftarm}}" />
            </div>
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.rLeg"}}</b><br />
                <input class="arHelper12" name="system.rightleg" type="text" value="{{system.rightleg}}" />
            </div>
            <div class="arHelper11">
                <b>{{localize "GDSA.itemsheet.lLeg"}}</b><br />
                <input class="arHelper12" name="system.leftleg" type="text" value="{{system.leftleg}}" />
            </div>
            <div class="arHelper16">
                <b>{{localize "GDSA.itemsheet.value"}}</b><br />
                <input class="arHelper13" name="system.value" type="text" value="{{system.value}}" />
            </div>
        </div>

        <div class="arHelper14">
            <b>{{localize "GDSA.itemsheet.description"}}</b><br />
            <textarea class="arHelper15" name="system.description">{{system.description}}</textarea>
        </div>
    </div>
</form>
