<form class="{{cssClass}}" autocomplete="off">

    <div class="browserImgBox3"><img class="browserImg" name="{{item.name}}" data-edit="img" src="{{item.img}}" /></div>

    <div class="ritHelper21">
        <div class="spHelper23"><b>{{localize "GDSA.itemsheet.name"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.itemsheet.weight"}}</b></div>
        <div class="spHelper1"><input class="spHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="spHelper3">
            <input class="spHelper5" name="system.weight" type="number" value="{{system.weight}}" />
        </div>
    </div>

    <div class="itemRow4">
        <div class="spHelper22"><b>{{localize "GDSA.itemsheet.typeItem"}}</b></div>
        <div class="spHelper31 centered"><b>{{localize "GDSA.itemsheet.worn"}}</b></div>
        <div class="spHelper31"><b>{{localize "GDSA.itemsheet.singleValue"}}</b></div>
        
        <div class="spHelper21">
            <select class="spHelper20" name="system.type">
                {{#select system.type}}
                    {{#each config.itemTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="spHelper31">
            <input class="arHelper10" name="system.worn" type="checkbox" {{checked system.worn}}>
        </div>
        <div class="spHelper31">
            <input class="spHelper5" name="system.value" type="number" value="{{system.value}}" />
        </div>
    </div>

    <nav class="tabs nav spell-tabs" data-group="spell">
        <a class="item" data-tab="spellDetails"><div class="spellMenu2">{{localize "GDSA.template.general"}}</div></a>
        <a class="item" data-tab="spellNotes"><div class="spellMenu">{{localize "GDSA.template.note"}}</div></a>
    </nav>
    
    <div class="spellMenuBox">
	    <section class="spell-body">
            <div class="tab spellDetails" data-group="spell" data-tab="spellDetails">

                <div class="input220 spellName">{{localize "GDSA.itemsheet.storageT"}}:</div>
                <select class="input180" name="system.item.storage">
                    {{#select system.item.storage}}
                        <option value="bag">{{localize "GDSA.itemsheet.storageBag"}}</option>
                        <option value="carriage">{{localize "GDSA.itemsheet.storageCarriage"}}</option>
                        <option value="away">{{localize "GDSA.itemsheet.storageAway"}}</option>
                    {{/select}}
                </select>

                <div class="itemFiller"></div>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.typeArmor"}}:</div>
                <input class="input180" name="system.armour.type" type="text" value="{{system.armour.type}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.star"}}:</div>
                <input class="input180 centered" name="system.armour.star" type="number" value="{{system.armour.star}}"/>
                
                <div class="input220 spellName">{{localize "GDSA.itemsheet.zArmour"}}:</div>
                <input class="input180 flexed" name="system.armour.Z" type="checkbox" {{checked system.armour.Z}}>

                <div class="itemFiller"></div>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.head"}}:</div>
                <input class="input180 centered" name="system.armour.head" type="number" value="{{system.armour.head}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.body"}} / {{localize "GDSA.itemsheet.back"}}:</div>
                <input class="input90 centered" name="system.armour.body" type="number" value="{{system.armour.body}}"/>
                <input class="input90 centered" name="system.armour.back" type="number" value="{{system.armour.back}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.stomach"}}:</div>
                <input class="input180 centered" name="system.armour.stomach" type="number" value="{{system.armour.stomach}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.arms"}}:</div>
                <input class="input90 centered" name="system.armour.leftarm" type="number" value="{{system.armour.leftarm}}"/>
                <input class="input90 centered" name="system.armour.rightarm" type="number" value="{{system.armour.rightarm}}"/>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.legs"}}:</div>
                <input class="input90 centered" name="system.armour.leftleg" type="number" value="{{system.armour.leftleg}}"/>
                <input class="input90 centered" name="system.armour.rightleg" type="number" value="{{system.armour.rightleg}}"/>

                <div class="itemFiller"></div>

                <div class="input220 spellName">{{localize "GDSA.itemsheet.fullArmour"}}:</div>
                <input class="input180 centered" name="system.armour.gRS" type="number" value="{{system.armour.gRS}}"/>

            </div>
            
            <div class="tab spellNotes" data-group="spell" data-tab="spellNotes">

                <textarea class="litNotes2" name="system.description">{{system.description}}</textarea>

            </div>

        </section>
    </div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>

</form>