<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input class="nameLable" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}"/></h1>
    </header>
    <div class="itemMain">
        <div class="itemRow">
            <div class="box160">
                <b>{{localize "GDSA.itemsheet.typeItem"}}</b><br />
                <input class="input150" name="system.type" type="text" value="{{system.type}}"/>
            </div>
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.weight"}}</b><br />
                <input class="input140" name="system.weight" type="text" value="{{system.weight}}"/>
            </div>     
            <div class="box140">
                <b>{{localize "GDSA.itemsheet.value"}}</b><br />
                <input class="input140" name="system.value" type="text" value="{{system.value}}"/>
            </div>
        </div>
        <div class="itemDescBox">
            <b>{{localize "GDSA.itemsheet.description"}}</b><br />
            <textarea class="itemDesc" name="system.description">{{system.description}}</textarea>
        </div>       
    </div>
</form>
