<form class="{{cssClass}}" autocomplete="off">
        
    <header class="sheet-header">

        
        <div class="adHelper4">{{localize "GDSA.charactersheet.langu"}}</div>
        <div class="adHelper5">{{localize "GDSA.charactersheet.komplex"}}</div>
        <div class="adHelper2">{{localize "GDSA.charactersheet.valueLabel"}}</div>

        <div class="laHelper1"><input class="laHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="laHelper3"><input class="laHelper4" name="system.komp" type="number" value="{{system.komp}}" /></div>
        <div class="laHelper3"><input class="laHelper4" name="system.value" type="number" value="{{system.value}}" /></div>

    </header>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>

</form>