<form class="{{cssClass}}" autocomplete="off">
    
    <header class="sheet-header arHelper17">
        <img class="itemImg" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input class="afHelper2" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
    </header>
    
    <div class="arHelper1">

        <div class="arHelper2">
            <div class="box175">
                <b>{{localize "GDSA.itemsheet.type"}}</b><br />
                <input class="input165" name="system.type" type="text" value="{{system.type}}" />
            </div>

            <div class="box175">
                <b>{{localize "GDSA.itemsheet.skill"}}</b><br />
                <select class="input165" name="system.skill">
                    {{#select system.skill}}
                        {{#each config.meleeSkills as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="arHelper5">
                <div class="mwHelper2"><b>{{localize "GDSA.itemsheet.improvised"}}</b></div> 
                <input class="mwHelper1" name="system.improvised" type="checkbox" {{checked system.improvised}} /> <br />
                <div class="mwHelper3"></div>
                <div class="mwHelper2"><b>{{localize "GDSA.itemsheet.twohanded"}}</b></div> 
                <input class="mwHelper1" name="system.twohanded" type="checkbox" {{checked system.twohanded}} />
            </div>
        </div>

        <div class="arHelper2">
            <div class="box120">
                <b>{{localize "GDSA.itemsheet.damage"}}</b><br />
                <input class="input110" name="system.damage" type="text" value="{{system.damage}}" />
            </div>
            <div class="box70">
                <b>{{localize "GDSA.itemsheet.TP/KK"}}</b><br />
                <input class="input60" name="system.TPKK" type="text" value="{{system.TPKK}}" />
            </div>
            <div class="box50">
                <b>{{localize "GDSA.itemsheet.INI"}}</b><br />
                <input class="input40" name="system.INI" type="number" value="{{system.INI}}" />
            </div>
            <div class="box75">
                <b>{{localize "GDSA.itemsheet.WM"}}</b><br />
                <div class="lbox30"><input class="input30" name="system.WM-ATK" type="number" value="{{system.WM-ATK}}" /></div>
                <div class="divider1"></div>
                <div class="lbox30"><input class="input30" name="system.WM-DEF" type="number" value="{{system.WM-DEF}}" /></div>
            </div>
            <div class="box50">
                <b>{{localize "GDSA.itemsheet.DK"}}</b><br />
                <input class="input40" name="system.DK" type="text" value="{{system.DK}}" />
            </div>
            <div class="box75">
                <b>{{localize "GDSA.itemsheet.BF"}}</b><br />
                <div class="lbox30"><input class="input30" name="system.BF-cur" type="number" value="{{system.BF-cur}}" /></div>
                <div class="divider1"></div>
                <input class="input30" name="system.BF-min" type="number" value="{{system.BF-min}}" />
            </div>
        </div>

        <div class="arHelper2">
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.length"}}</b><br />
                <input class="input140" name="system.length" type="text" value="{{system.length}}" />
            </div>
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.weight"}}</b><br />
                <input class="input140" name="system.weight" type="text" value="{{system.weight}}" />
            </div>
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.value"}}</b><br />
                <input class="input140" name="system.value" type="text" value="{{system.value}}" />
            </div>
        </div>

        <div class="itemDescBox">
            <b>{{localize "GDSA.itemsheet.description"}}</b><br />
            <textarea class="itemDesc2" name="system.description">{{system.description}}</textarea>
        </div>       
    </div>
</form>
