<form class="{{cssClass}}" autocomplete="off">{{doLog this}}
    <div class="sheet2">

    <header class="sheet-header">
        <div class="merchantHead">
            <img src="{{actor.img}}" class="merchantImg" data-edit="img" title="{{actor.name}}" height="67" width="67"/>
            <div class="merchantName"><input class="nameLableMerch" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'Name'}}" {{#unless isGM}}disabled{{/unless}}/></div>
            {{#each affiliation as |item id|}}
                <div class="affiliateBar {{#if ../isGM}}item-context{{/if}}" data-item-id="{{_id}}" style="color: {{system.fontColo}}; background-color: {{system.backgroundColor}}">
                    <div class="affiImg"><img class="affiIMG" src="{{item.img}}" title="{{item.name}}" /></div>
                    <div class="affiName">{{item.name}}</div>
                </div>
            {{/each}}
        </div>
    </header>

        <div class="invFiller3"></div>

		<section class="sheet-body">

            <div class="merchantInfo">
                <div class="merchMenuBox">
                    <a class="item menuMainItem merchMenu">{{localize "GDSA.itemsheet.description"}}</a>
                    {{#if isGM}}
                        <span class="merchMenuDiv">|</span> 
                        <a class="item menuMainItem merchMenu">{{localize "GDSA.system.settings"}}</a>
                    {{/if}}
                </div>
                <textarea class="merchantDisc" name="system.description" {{#unless isGM}}disabled{{/unless}}>{{system.description}}</textarea>
                <div class="classification">
                    <!-- Qualität: <select class="classificationSelection" name="system.skill" {{#unless isGM}}disabled{{/unless}}>
                        {{#select system.skill}}
                        <option value="1">{{localize "GDSA.chat.dialog.lvl1"}}</option>
                        <option value="2">{{localize "GDSA.chat.dialog.lvl2"}}</option>
                        <option value="3">{{localize "GDSA.chat.dialog.lvl3"}}</option>
                        <option value="4">{{localize "GDSA.chat.dialog.lvl4"}}</option>
                        <option value="5">{{localize "GDSA.chat.dialog.lvl5"}}</option>
                        {{/select}}
                    </select><br /> 
                    
                    
                        {{#each game.users as |user|}}
                            {{#unless user.isGM}}
                                {{#if user.character}}
                                    {{user.character.name}} <i>{{user.character._id}}</i>
                                {{/if}}
                            {{/unless}}
	                    {{/each}}-->
                    {{localize "GDSA.charactersheet.uberSkill"}}<a class="merch-roll" data-skill="uber" title="roll"><i class="fas fa-dice-d20 merchRoll"></i></a><br />
                    {{localize "GDSA.charactersheet.handSkill"}}<a class="merch-roll" data-skill="hand" title="roll"><i class="fas fa-dice-d20 merchRoll"></i></a>
                </div>
            </div>

            <div class="inventory3">
                <section class="item-list">
            
                    <div class="invtableborder2">
                        <div class="invHeader2">{{localize "GDSA.charactersheet.goods"}}
                            {{#if isGM}}
                                <div class="addItemBox2"><a class="item-create" data-type="generals" title="{{localize "GDSA.charactersheet.addItem"}}">
                                    <i class="fas fa-plus plusSym2"></i>
                                </a></div>
                            {{/if}}
                        </div>
                        {{#each inventar as |item id|}}
                            <div class="invItem2 {{#if ../isGM}}item-context{{/if}} item" data-item-id="{{_id}}">{{name}} <br /> > <i>{{system.type}}</i>
                                {{#if ../isGM}}
                                    <div class="changeAmount">
                                        <a class="addQuant"><i class="fas fa-plus"></i></a>
                                        <a class="removeQuant"><i class="fas fa-minus"></i></a>
                                    </div>
                                {{/if}}
                                <div class="itemAmountBox Quantity"><input class="itemAmount Quantity" name="system.quantity" value="{{system.quantity}}" type="number" disabled></div>
                                <div class="itemImgBox2"><img class="itemImg" src="{{img}}"></div>
                                <div class="addItemBox3">
                                    {{#if (hasGold system.value)}}{{getGold system.value}} <i class="fas fa-coins gCoinSym"></i>{{/if}}
                                    {{#if (hasSilver system.value)}}{{getSilver system.value}} <i class="fas fa-coins sCoinSym"></i>{{/if}}
                                    {{#if (hasCopper system.value)}}{{getCopper system.value}} <i class="fas fa-coins cCoinSym"></i>{{/if}}
                                    {{#if (hasNickel system.value)}}{{getNickel system.value}} <i class="fas fa-coins iCoinSym"></i>{{/if}}
                                </div>
                                <div class="addItemBox2">{{#if (isGreater system.quantity 0)}}<a class="buyItem">{{/if}}
                                    <i class="fas fa-shopping-cart plusSym3 {{#unless (isGreater system.quantity 0)}}shopSymHide{{/unless}}"></i>
                                {{#if (isGreater system.quantity 0)}}</a>{{/if}}</div>
                            </div>
	                    {{/each}}
                    </div>
        
                </section>
            </div>
		</section>
    </div>
</form>