<form class="{{cssClass}}" autocomplete="off">

    <header class="sheet-header arHelper17">
        <img class="itemImg" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
        <input class="afHelper2" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
    </header>

    <div class="itemMain">

        <div class="itemRow">
            <div class="box175">
                <b>{{localize "GDSA.itemsheet.type"}}</b><br />
                <input class="input165" name="system.type" type="text" value="{{system.type}}" />
            </div>

            <div class="box175">
                <b>{{localize "GDSA.itemsheet.skill"}}</b><br />
                <select class="input165" name="system.skill">
                    {{#select system.skill}}
                        {{#each config.rangeSkills as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="box100">
                <b>{{localize "GDSA.itemsheet.loadtime"}}</b><br />
                <input class="input100" name="system.loadActions" type="text" value="{{system.loadActions}}" />
            </div>
        </div>

        <div class="itemRow">
            <div class="box120">
                <b>{{localize "GDSA.itemsheet.damage"}}</b><br />
                <input class="input110" name="system.damage" type="text" value="{{system.damage}}" />
            </div>

            <div class="box165">
                <b>{{localize "GDSA.itemsheet.range"}}</b><br />
                <input class="input160" name="system.range" type="text" value="{{system.range}}" />
            </div>

            <div class="box165">
                <b>{{localize "GDSA.itemsheet.tpPlus"}}</b><br />
                <input class="input165" name="system.tp" type="text" value="{{system.tp}}" />
            </div>
        </div>

        <div class="itemRow">
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.length"}}</b><br />
                <input class="input140" name="system.length" type="text" value="{{system.length}}" />
            </div>

            <div class="box150">
                <b>{{localize "GDSA.itemsheet.weight"}}</b><br />
                <input class="input140" name="system.weight" type="text" value="{{system.weight}}" />
            </div>

            <div class="box150">
                <b>{{localize "GDSA.itemsheet.value"}}</b><br />
                <input class="input140" name="system.value" type="text" value="{{system.value}}" />
            </div>
        </div>

        <div class="itemDescBox">
            <b>{{localize "GDSA.itemsheet.description"}}</b><br />
            <textarea class="itemDesc2" name="system.description">{{system.description}}</textarea>
        </div>     
    </div>
</form>
