<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div style="float: left; width: 400px; height: 55px">
            <div style="float: left; width: 270px;">Name</div><div style="float: left; width: 150px;">Talent</div>
            <div style="float: left; width: 270px;"><input name="name" type="text" value="{{item.name}}" style="float: left; width: 250px;" /></div>
            <select name="data.skill" style="width: 160px;">
                {{#select data.skill}}
                    {{#each config.ritualSkills as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </header>

    <select name="data.att1" style="width: 99px; margin-right: 10px;">
        {{#select data.att1}}
            <option value=""></option>
            <option value="MU">MU</option>
            <option value="KL">KL</option>
            <option value="IN">IN</option>
            <option value="CH">CH</option>
            <option value="FF">FF</option>
            <option value="GE">GE</option>
            <option value="KO">KO</option>
            <option value="KK">KK</option>
        {{/select}}
    </select>
    <select name="data.att2" style="width: 99px; margin-right: 10px;">
        {{#select data.att2}}
            <option value=""></option>
            <option value="MU">MU</option>
            <option value="KL">KL</option>
            <option value="IN">IN</option>
            <option value="CH">CH</option>
            <option value="FF">FF</option>
            <option value="GE">GE</option>
            <option value="KO">KO</option>
            <option value="KK">KK</option>
        {{/select}}
    </select>
    <select name="data.att3" style="width: 99px; margin-right: 10px;">
        {{#select data.att3}}
            <option value=""></option>
            <option value="MU">MU</option>
            <option value="KL">KL</option>
            <option value="IN">IN</option>
            <option value="CH">CH</option>
            <option value="FF">FF</option>
            <option value="GE">GE</option>
            <option value="KO">KO</option>
            <option value="KK">KK</option>
        {{/select}}
    </select>

    PDF<input name="data.wdzPage" type="text" value="{{data.wdzPage}}" style="width: 60px; margin-left: 10px;" />
</form>