<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1><input class="nameLable" name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" /></h1>
    </header>
    <div class="itemMain">
        <div class="itemRow">
            <div class="box230">
                <b>{{localize "GDSA.itemsheet.type"}}</b><br />
                <input class="input220" name="system.type" type="text" value="{{system.type}}" />
            </div>

            <div class="box70">
                <b>{{localize "GDSA.itemsheet.INI"}}</b><br />
                <input class="input60" name="system.INI" type="number" value="{{system.INI}}" />
            </div>

            <div class="box75">
                <b>{{localize "GDSA.itemsheet.WM"}}</b><br />
                <div class="lbox30">
                    <input class="input30" name="system.WM-ATK" type="number" value="{{system.WM-ATK}}" />
                </div>
                <div class="divider1"></div>
                <div  class="lbox30">
                    <input class="input30" name="system.WM-DEF" type="number" value="{{system.WM-DEF}}" />
                </div>
            </div>

            <div class="box75">
                <b>{{localize "GDSA.itemsheet.BF"}}</b><br />
                <div class="lbox30">
                    <input class="input30" name="system.BF-cur" type="number" value="{{system.BF-cur}}" />
                </div>
                <div class="divider1"></div>
                <div class="lbox30">
                    <input class="input30" name="system.BF-min" type="number" value="{{system.BF-min}}" />
                </div>
            </div>
        </div>

        <div class="itemRow">
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.heigt"}}</b><br />
                <input class="input140" name="system.heigt" type="text" value="{{system.heigt}}" />
            </div>
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.weight"}}</b><br />
                <input class="input140" name="system.weight" type="text" value="{{system.weight}}" />
            </div>
            <div class="box150">
                <b>{{localize "GDSA.itemsheet.value"}}</b><br />
                <input class="input140" name="system.value" type="text" value="{{system.value}}" />
            </div>
        </div>

        <div class="itemDescBox">
            <b>{{localize "GDSA.itemsheet.description"}}</b><br />
            <textarea class="itemDesc3" name="system.description">{{system.description}}</textarea>
        </div>       
    </div>
</form>
