<form class="{{cssClass}}" autocomplete="off">
    <div class="sgHelper1"><input class="sgHelper2" name="name" type="text" value="{{item.name}}" /></div>
    <div class="sgHelper3"><input class="sgHelper4" name="system.value" type="number" value="{{system.value}}" /></div>
    <div class="sgHelper3"><input class="sgHelper4" name="system.komp" type="number" value="{{system.komp}}" /></div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>
</form>