<form class="{{cssClass}}" autocomplete="off">

    <div class="browserImgBox3"><img class="browserImg" name="{{item.name}}" data-edit="img" src="{{item.img}}" /></div>
    
    <div class="ritHelper7">
        <div class="spHelper1">{{localize "GDSA.itemsheet.name"}}</div>
        <div class="spHelper4">{{localize "GDSA.itemsheet.zfw"}}</div>
        <div class="spHelper3">{{localize "GDSA.itemsheet.mr"}}</div>
        <div class="spHelper1"><input class="spHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="spHelper3"><input class="spHelper3" name="system.zfw" type="text" value="{{system.zfw}}" /></div>
        <div class="spHelper3"><input class="mwHelper6" name="system.isMR" type="checkbox" {{checked system.isMR}} /></div>
    </div>

    <div class="itemRow3">
        <select class="spHelper5" name="system.att1">{{selectOptions config.attributes selected=system.att1 blank="" localize=true}}</select>
        <select class="spHelper5" name="system.att2">{{selectOptions config.attributes selected=system.att2 blank="" localize=true}}</select>
        <select class="spHelper5" name="system.att3">{{selectOptions config.attributes selected=system.att3 blank="" localize=true}}</select>
        {{localize "GDSA.templates.pdf"}}<input class="ritHelper6" name="system.lcdPage" type="text" value="{{system.lcdPage}}" />
    </div>

    <div class="itemMenu4">
        <nav class="tabs nav spell-tabs" data-group="spell">
            <a class="item" data-tab="spellDetails"><div class="spellMenu2">{{localize "GDSA.templates.detail"}}</div></a>  
            <a class="item" data-tab="spellVariants"><div class="spellMenu">{{localize "GDSA.chat.skill.vari"}}</div></a>
            <a class="item" data-tab="spellEffects"><div class="spellMenu">{{localize "GDSA.templates.effect"}}</div></a>
            <a class="item" data-tab="spellNotes"><div class="spellMenu">{{localize "GDSA.template.note"}}</div></a>
        </nav>
    </div>

    <div class="spellMenuBox">
        <section class="spell-body">

            <div class="tab spellDetails" data-group="spell" data-tab="spellDetails">
                <div class="input100 spellName">{{localize "GDSA.trait.reps"}}:</div>
                <select class="input70s" name="system.rep">{{selectOptions config.magicReps selected=system.rep blank="" localize=true}}</select>

                {{#for 1 5 1}}
                    <div class="input100 spellName">{{localize "GDSA.itemsheet.trait"}} {{this}}:</div>
                    <select class="input70s" name="system.trait{{this}}">
                        {{selectOptions ../config.magicTraits selected=(getData ../system (concat "trait" this "")) blank="" localize=true}}
                    </select>
                {{/for}}

                <div class="spellLine">{{localize "GDSA.system.avaMod"}}:</div>
                <div class="spellModiBox">
                    <input class="mwHelper1" name="system.technic" type="checkbox" {{checked system.technic}} /> {{localize "GDSA.system.tech"}} <br />
                    <input class="mwHelper1" name="system.casttime" type="checkbox" {{checked system.casttime}} /> {{localize "GDSA.system.casttime"}}
                </div>
                <div class="spellModiBox">
                    <input class="mwHelper1" name="system.forced" type="checkbox" {{checked system.forced}} /> {{localize "GDSA.system.force"}} <br />
                    <input class="mwHelper1" name="system.cost" type="checkbox" {{checked system.cost}} /> {{localize "GDSA.itemsheet.cost"}}
                </div>
                <div class="spellModiBox">
                    <input class="mwHelper1" name="system.range" type="checkbox" {{checked system.range}} /> {{localize "GDSA.system.reach"}} <br />
                    <input class="mwHelper1" name="system.duration" type="checkbox" {{checked system.duration}} /> {{localize "GDSA.system.duration"}}
                </div>

                <div class="spellLine">{{localize "GDSA.system.verbr"}}:</div>
                <div class="spellModiBox">
                    <div class="spellVLine"><div class="spellVName">Mag</div><input class="input40" name="system.vMag" type="number" value="{{system.vMag}}" /></div>
                    <div class="spellVLine"><div class="spellVName">Dru</div><input class="input40" name="system.vDru" type="number" value="{{system.vDru}}" /></div>
                    <div class="spellVLine"><div class="spellVName">Bor</div><input class="input40" name="system.vBor" type="number" value="{{system.vBor}}" /></div>
                </div>
                <div class="spellModiBox">
                    <div class="spellVLine"><div class="spellVName">Srl</div><input class="input40" name="system.vSrl" type="number" value="{{system.vSrl}}" /></div>
                    <div class="spellVLine"><div class="spellVName">Hex</div><input class="input40" name="system.vHex" type="number" value="{{system.vHex}}" /></div>
                    <div class="spellVLine"><div class="spellVName">Elf</div><input class="input40" name="system.vElf" type="number" value="{{system.vElf}}" /></div>
                </div>
                <div class="spellModiBox">
                    <div class="spellVLine"><div class="spellVName">Sch</div><input class="input40" name="system.vSch" type="number" value="{{system.vSch}}" /></div>
                    <div class="spellVLine"><div class="spellVName">Geo</div><input class="input40" name="system.vGeo" type="number" value="{{system.vGeo}}" /></div>
                    <div class="spellVLine"><div class="spellVName">Ach</div><input class="input40" name="system.vAch" type="number" value="{{system.vAch}}" /></div>
                </div>
            </div>

            <div class="tab spellVariants" data-group="spell" data-tab="spellVariants">
                {{#each system.vars}}
                    <div class="variantbox" data-id="{{@index}}">
                        <b>{{name}}</b> {{#if (isGreater minZfW 1)}}({{localize "GDSA.itemsheet.abZfW"}} {{minZfW}}){{/if}}<br />
                        {{#if (isGreater disad 0)}}<b>{{localize "GDSA.itemsheet.disad"}}:</b> +{{disad}}<br />{{/if}}
                        {{#if (isGreater cost.length 2)}}<b>{{localize "GDSA.itemsheet.cost"}}:</b> {{cost}} {{localize "GDSA.itemsheet.asp"}}<br />
                        {{else}} {{#if (isGreater cost 0)}}<b>{{localize "GDSA.itemsheet.cost"}}:</b> {{cost}} {{localize "GDSA.itemsheet.asp"}}<br />{{/if}}{{/if}}
                        {{#if (isGreater casttime 0)}}<b>{{localize "GDSA.itemsheet.casttime"}}:</b> {{casttime}}<br />{{/if}}
                        {{#if (isGreater resti.length 0)}}<b>{{localize "GDSA.itemsheet.restriction"}}:</b> {{displayRegla resti}}{{/if}}
                        <div class="buttonbox">
                            <a class="editSpellVariants"><i class="fa-regular fa-gear spellvari"></i></a>
                            <a class="deleteSpellVariants"><i class="fa-solid fa-trash spellvari"></i></a>
                        </div>
                    </div>        
                {{/each}}
                <a class="addSpellVariants"><div class="plusVariants">+</div></a>
            </div>
            
            <div class="tab spellEffects" data-group="spell" data-tab="spellEffects">

                <div class="input100 spellName">{{localize "GDSA.itemsheet.cost"}}:</div>
                <input class="input60c" name="system.costs" type="text" value="{{system.costs}}" />

                <div class="input100f">
                    <input class="mwHelper5" name="system.diffrentCost" type="checkbox" {{checked system.diffrentCost}} />
                    <select class="input70a" name="system.repAlt" {{#unless system.diffrentCost}}disabled{{/unless}}>
                        {{selectOptions config.magicReps selected=system.repAlt blank="" localize=true}}
                    </select>
                    <input class="input60c" name="system.costsAlt" type="text" value="{{system.costsAlt}}" {{#unless system.diffrentCost}}disabled{{/unless}}/> 
                </div>

            </div>
            
            <div class="tab spellNotes" data-group="spell" data-tab="spellNotes">
                <div class="input100 spellName">{{localize "GDSA.charactersheet.komplex"}}:</div>
                <input type="text" class="input100c" name="system.komp" value="{{system.komp}}" />
                <div class="input100 spellName">{{localize "GDSA.system.casttime"}}:</div>
                <input type="number" class="input100c" name="system.zduration" value="{{system.zduration}}" />
            </div>
            
        </section>
    </div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>

</form>