<form class="{{cssClass}}" autocomplete="off">

    <div class="browserImgBox3"><img class="browserImg" name="{{item.name}}" data-edit="img" src="{{item.img}}" /></div>

    <div class="ritHelper7">
        <div class="spHelper1"><b>{{localize "GDSA.itemsheet.name"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.template.type"}}</b></div>
        <div class="spHelper1"><input class="spHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="spHelper3">
            <select class="spHelper5" name="system.type">{{selectOptions config.ritTypes selected=system.type blank="" localize=true}}</select>
        </div>
    </div>

    <div class="itemRow3">
        <div class="spHelper25"><b>{{localize "GDSA.templates.prereq"}}</b></div>
        <div class="spHelper27"><b>{{localize "GDSA.itemsheet.activ"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.itemsheet.verb"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.templates.pdf"}}</b></div>
        <div class="spHelper1">
            <div class="spHelper19"><input class="spHelper55" name="system.prereq" type="text" value="{{system.prereq}}" /></div>
            <div class="spHelper19"><input class="spHelper10" name="system.isActiv" type="checkbox" {{checked system.isActiv}} /></div>
            <div class="spHelper19"><input class="spHelper3" name="system.vRit" type="number" value="{{system.vRit}}" /></div>
        </div>
        <div class="spHelper19"><input class="spHelper5" name="system.wdzPage" type="text" value="{{system.wdzPage}}" /></div>
    </div>

    <div class="itemMenu4">
        <nav class="tabs nav spell-tabs" data-group="spell">
            <a class="item" data-tab="spellDetails"><div class="spellMenu2">{{localize "GDSA.itemsheet.creation"}}</div></a>
            <a class="item" data-tab="spellVariants"><div class="spellMenu">{{localize "GDSA.itemsheet.activation"}}</div></a>
            <a class="item" data-tab="spellEffects"><div class="spellMenu">{{localize "GDSA.itemsheet.trait"}}</div></a>
            <a class="item" data-tab="spellNotes"><div class="spellMenu">{{localize "GDSA.template.note"}}</div></a>
        </nav>
    </div>

    <div class="spellMenuBox">
	    <section class="spell-body">
            <div class="tab spellDetails" data-group="spell" data-tab="spellDetails">

                <div class="input100 spellName">{{localize "GDSA.itemsheet.skill"}}:</div>
                <select class="input70s" name="system.creatTalent">{{selectOptions config.ritualSkills selected=system.creatTalent blank="" localize=true}}</select>

                <div class="input100g spellName">{{localize "GDSA.itemsheet.attri"}}:</div>
                {{#for 1 4 1}}
                    <select class="input100h" name="system.creatAtt{{this}}">{{selectOptions ../config.attributes selected=(getData ../system (concat "creatAtt" this "")) blank=""}}</select>
                {{/for}}

                <div class="input100 spellName">{{localize "GDSA.itemsheet.disad"}}:</div>
                <input class="input70s" name="system.creatDisAd" type="number" value="{{system.creatDisAd}}" />
                <div class="input100 spellName">{{localize "GDSA.itemsheet.cost"}}:</div>
                <input class="input70s" name="system.creatCost" type="number" value="{{system.creatCost}}" />
                <div class="input100 spellName">{{localize "GDSA.itemsheet.pcosts"}}:</div>
                <input class="input70s" name="system.creatCostP" type="number" value="{{system.creatCostP}}" />

            </div>

            <div class="tab spellVariants" data-group="spell" data-tab="spellVariants">

                <div class="input100 spellName">{{localize "GDSA.itemsheet.skill"}}:</div>
                <select class="input70s" name="system.activTalent">{{selectOptions config.ritualSkills selected=system.activTalent blank="" localize=true}}</select>

                <div class="input100g spellName">{{localize "GDSA.itemsheet.attri"}}:</div>
                {{#for 1 4 1}}
                    <select class="input100h" name="system.activAtt{{this}}">{{selectOptions ../config.attributes selected=(getData ../system (concat "activAtt" this "")) blank=""}}</select>
                {{/for}}

                <div class="input100 spellName">{{localize "GDSA.itemsheet.disad"}}:</div>
                <input class="input70s" name="system.activDisAd" type="number" value="{{system.activDisAd}}" />
                <div class="input100 spellName">{{localize "GDSA.itemsheet.cost"}}:</div>
                <input class="input70s" name="system.activCost" type="number" value="{{system.activCost}}" />
                <div class="input100 spellName">{{localize "GDSA.itemsheet.zduration"}}:</div>
                <input class="input70s" name="system.activDura" type="number" value="{{system.activDura}}" />

            </div>
            
            <div class="tab spellEffects" data-group="spell" data-tab="spellEffects">

                {{#for 1 5 1}}
                    <div class="input100 spellName">{{localize "GDSA.itemsheet.trait"}}:</div>
                    <select class="input70s" name="system.trait{{this}}">{{selectOptions ../config.magicTraits selected=(getData ../system (concat "trait" this "")) blank="" localize=true}}</select>
                {{/for}}

            </div>

            <div class="tab spellNotes" data-group="spell" data-tab="spellNotes">
                <div class="itemNotesOut">{{editor system.tale.notes class="itemNotesIn" target="system.tale.notes" button=true engine="prosemirror" collaborate=false}}</div>
                <button class="noteBnt note-gm-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postGM"}}</button>
                <button class="noteBnt note-all-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postAll"}}</button>
            </div>
        </section>
    </div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>
</form>