<form class="{{cssClass}}" autocomplete="off">

    <div class="browserImgBox3"><img class="browserImg" name="{{item.name}}" data-edit="img" src="{{item.img}}" /></div>

    <div class="ritHelper7">
        <div class="spHelper1"><b>{{localize "GDSA.itemsheet.name"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.template.type"}}</b></div>
        <div class="spHelper1"><input class="spHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="spHelper3">
            <select class="spHelper5" name="system.type">{{selectOptions config.ritTypes selected=system.type blank="" localize=true}}</select>
        </div>
    </div>

    <div class="itemRow3">
        <div class="spHelper25"><b>{{localize "GDSA.itemsheet.skill"}}</b></div>
        <div class="spHelper27"><b>{{localize "GDSA.chat.medi.target"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.itemsheet.grad"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.templates.pdf"}}</b></div>
        <div class="spHelper1">
            <div class="spHelper19"><select class="spHelper55" name="system.skill">{{selectOptions config.schamSkills selected=system.skill blank="" localize=true}}</select></div>
            <div class="spHelper19"><select class="spHelper32" name="system.target">{{selectOptions config.wonderTarget selected=system.target blank=""}}</select></div>
            <div class="spHelper19"><input class="spHelper3" name="system.grad" type="number" value="{{system.grad}}" /></div>
        </div>
        <div class="spHelper19"><input class="spHelper5" name="system.wdzPage" type="text" value="{{system.wdzPage}}" /></div>
    </div>

    <div class="itemMenu3">
        <nav class="tabs nav spell-tabs" data-group="spell">
            <a class="item" data-tab="spellDetails"><div class="spellMenu2">{{localize "GDSA.system.general"}}</div></a>
            <a class="item" data-tab="spellEffects"><div class="spellMenu">{{localize "GDSA.itemsheet.trait"}}</div></a>
            <a class="item" data-tab="spellNotes"><div class="spellMenu">{{localize "GDSA.template.note"}}</div></a>
        </nav>
    </div>

    <div class="spellMenuBox">
	    <section class="spell-body">

            <div class="tab spellDetails" data-group="spell" data-tab="spellDetails">
                <div class="input100 spellName">{{localize "GDSA.chat.medi.ritDura"}}:</div>
                <select class="input70sa" name="system.ritduaration">{{selectOptions config.schamCastDuration selected=system.ritduaration blank="" localize=true}}</select>
                <input class="ritHelper6" name="system.ritshortdura" type="text" value="{{system.ritshortdura}}" />
                <div class="input100 spellName">{{localize "GDSA.chat.medi.rangeH"}}:</div>
                <input class="input70sb" name="system.range" type="text" value="{{system.range}}" />
                <div class="input100 spellName">{{localize "GDSA.chat.medi.wirkDur"}}:</div>
                <select class="input70s" name="system.duration">{{selectOptions config.schamRitDuration selected=system.duration blank=""}}</select>
                <div class="spellLine">{{localize "GDSA.system.verbr"}}:</div>
                <div class="spellModiBoxFiller"></div>
                <div class="spellModiBox">
                    <div class="spellVLine"><div class="spellVName">Wdm</div><input class="input40" name="system.vWdm" type="checkbox" {{checked system.vWdm}} /></div>
                    <div class="spellVLine"><div class="spellVName">Utu</div><input class="input40" name="system.vUtu" type="checkbox" {{checked system.vUtu}} /></div>
                    <div class="spellVLine"><div class="spellVName">Toc</div><input class="input40" name="system.vToc" type="checkbox" {{checked system.vToc}} /></div>
                </div>
                <div class="spellModiBox">
                    <div class="spellVLine"><div class="spellVName">Niv</div><input class="input40" name="system.vNiv" type="checkbox" {{checked system.vNiv}} /></div>
                    <div class="spellVLine"><div class="spellVName">Ork</div><input class="input40" name="system.vOrk" type="checkbox" {{checked system.vOrk}} /></div>
                    <div class="spellVLine"><div class="spellVName">Gob</div><input class="input40" name="system.vGob" type="checkbox" {{checked system.vGob}} /></div>
                    <div class="spellVLine"><div class="spellVName">Gja</div><input class="input40" name="system.vGja" type="checkbox" {{checked system.vGja}} /></div>
                </div>
                <div class="spellModiBoxEnd">
                    <div class="spellVLine"><div class="spellVName">Fer</div><input class="input40" name="system.vFer" type="checkbox" {{checked ssystem.vFer}} /></div>
                    <div class="spellVLine"><div class="spellVName">Tzk</div><input class="input40" name="system.vTzk" type="checkbox" {{checked system.vTzk}} /></div>
                    <div class="spellVLine"><div class="spellVName">Ach</div><input class="input40" name="system.vAch" type="checkbox" {{checked system.vAch}} /></div>
                </div>
            </div>
            
            <div class="tab spellEffects" data-group="spell" data-tab="spellEffects">
                {{#for 1 5 1}}
                    <div class="input100 spellName">{{localize "GDSA.itemsheet.trait"}}:</div>
                    <select class="input70s" name="system.trait{{this}}">{{selectOptions ../config.magicTraits selected=(getData ../system (concat "trait" this "")) blank="" localize=true}}</select>
                {{/for}}
            </div>

            <div class="tab spellNotes" data-group="spell" data-tab="spellNotes">
                <div class="itemNotesOut">{{editor system.tale.notes class="itemNotesIn" target="system.tale.notes" button=true engine="prosemirror" collaborate=false}}</div>
                <button class="noteBnt note-gm-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postGM"}}</button>
                <button class="noteBnt note-all-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postAll"}}</button>
            </div>
            
        </section>
    </div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>
</form>