<div class="GDSA chat message skill">
    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatInfoMessage">
        {{#if dmg}}
            {{actor.name}} {{localize "GDSA.chat.dialog.has"}} <i class="fas fa-sun faD20Stat aspChance"></i> {{value}} {{localize "GDSA.chat.dialog.spentAsP"}}
        {{/if}}
        {{#if heal}}
            {{actor.name}} {{localize "GDSA.chat.dialog.has"}} <i class="fas fa-sun faD20Stat aspChance"></i> {{value}} {{localize "GDSA.chat.dialog.gotAsP"}}
        {{/if}}
    </div>
</div>