<div class="GDSA chat message skill">

    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatheadline">{{localize "GDSA.combat.RegAsP"}}</div>
    <div class="chathrBox"><hr class="chathrBold" /></div>

    <div id="collapsable">
        <div class="infoMainBox">
            <div class="infoDiceBox2">
                {{#unless isMaster}}
                    <div class="infoDices2">{{roll.total}}</div>
                    <div class="infoDices">{{roll2.total}}</div>
                {{else}}
                    <div class="diefiller"></div>
                    <div class="infoDices">{{roll2.total}}</div>
                {{/unless}}
            </div>
        </div>
        <div class="chathrBox"><hr class="chathrBold" /></div>
    </div>
    
    <div class="dice-formula">
        <div class="rollSkillSuccess">{{regtotal}}{{localize "GDSA.combat.AsPRegOf"}}<span id="additionalInfo"></span></div>
    </div>  
</div>