<div class="GDSA chat message skill">

    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatheadline">{{localize "GDSA.chat.dialog.dogde"}} ({{statValue}})</div>
    <div class="chathrBox"><hr class="chathrBold" /></div>

    <div id="collapsable">
        <div class="infoMainBox">
            <div class="infoDiceBox3">
                {{#unless confirm}}<div class="diefiller"></div>{{/unless}}
                <div class="infoDices">{{roll.total}}</div>
                {{#if confirm}}<div class="infoDices">{{roll2.total}}</div>{{/if}}
            </div>
            <div class="infoMainImg">
                <img class="chatRollImg" name="{{statName}}" data-edit="img" src="icons/skills/movement/feet-bladed-boots-fire.webp" />
            </div>
        </div>
        <div class="chatInfoBox">
            <table id="chatInfoTable" style="margin: 0px;">
                <tbody>
                    <tr>
                        <td><b>{{localize "GDSA.itemsheet.DiKl"}}:</b></td>
                        <td>{{additional.dk}}</td>
                    </tr>
                    <tr>
                        <td><b>{{localize "GDSA.templates.directed"}}:</b></td>
                        <td>{{localize (concat "GDSA.itemsheet." additional.directed "")}}</td>
                    </tr>
                    <tr>
                        <td><b>{{localize "GDSA.templates.addiFow"}}:</b></td>
                        <td>{{additional.addCombt}} {{localize "GDSA.itemsheet.fighter"}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div class="chathrBox"><hr class="chathrBold" /></div>
    </div>

    {{#if modPresent}}
        {{#if isAdv}}
            <div class="rollpositivMod">{{localize "GDSA.chat.skill.advantageOf"}} {{adv}}</div>
            <div class="chathrBox"><hr class="chathrBold" /></div>
        {{/if}}
        {{#if isDis}}
            <div class="rollnegativMod">{{localize "GDSA.chat.skill.disadvantageOf"}} {{dis}}</div>
            <div class="chathrBox"><hr class="chathrBold" /></div>
        {{/if}}
    {{/if}}
    
    <div class="dice-formula">
        {{#if (NOR critt goof)}}
            {{#if result}}
                <div class="rollSkillPositiv">{{localize "GDSA.chat.stat.success"}}</div>
            {{else}}
                <div class="rollSkillNegativ">{{localize "GDSA.chat.stat.fail"}}</div>
            {{/if}}
        {{else}}
            {{#if critt}}
                <div class="rollSkillSuccess">{{localize "GDSA.chat.stat.critt"}}</div>
            {{else}}
                <div class="rollSkillFail">{{localize "GDSA.chat.stat.goof"}}</div>
            {{/if}}
        {{/if}}
    </div>
    <span id="additionalInfo">
        {{#if goof}}
            <div class="chathrBox"><hr class="chathr" /></div>
            <div class="rollSkillNegativ">{{goofed}}</div>
        {{/if}}
    </span>
</div>