<div class="GDSA chat message skill">

    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatheadline">{{flawName}} {{flawValue}}</div>
    <div class="chathrBox"><hr class="chathrBold" /></div>

    <div id="collapsable">
        <div class="infoMainBox">
            <div class="infoDiceBox2">
                {{#unless confirm}}<div class="diefiller"></div>{{/unless}}
                <div class="infoDices">{{roll.total}}</div>
                {{#if confirm}}<div class="infoDices">{{roll2.total}}</div>{{/if}}
            </div>
        </div>
        <div class="chathrBox"><hr class="chathrBold" /></div>
    </div>
    
    <div class="dice-formula">
        {{#if result}}
            <div class="rollSkillSuccess">{{localize "GDSA.chat.flaw.success"}}<span id="additionalInfo"></span></div>
        {{else}}
            <div class="rollSkillFail">{{localize "GDSA.chat.flaw.fail"}}<span id="additionalInfo"></span></div>
        {{/if}}
    </div>  
</div>