<div class="GDSA chat message skill">

    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatheadline">{{statName}}</div>
    <div class="chathrBox"><hr class="chathrBold" /></div>

    <div id="collapsable">
        <div class="infoMainBox">
            <div class="infoDiceBox">
                <div class="infoDices">{{roll.total}}</div>
                <div class="infoDices">{{roll2.total}}</div>
                <div class="infoDices">{{roll3.total}}</div>
            </div>
            <div class="infoMainImg">
                <img class="chatRollImg" name="{{statName}}" data-edit="img" src="{{item.img}}" />
            </div>
        </div>

        <div class="chatInfoBox">
            <table id="chatInfoTable" style="margin: 0px;">
            <table >
                <tbody>
                    <tr>
                        <td><b>{{localize "GDSA.itemsheet.attri"}}:</b></td>
                        <td>{{item.system.creatAtt1}}/{{item.system.creatAtt2}}/{{item.system.creatAtt3}} </td>
                    </tr>
                    <tr>
                        <td><b>{{localize "GDSA.system.ritknow"}}:</b></td>
                        <td>{{localize (concat "GDSA.ritualSkills." item.system.creatTalent "")}}</td>
                    </tr>
                    {{#if activ}}
                        <tr>
                            <td><b>{{localize "GDSA.itemsheet.aktivD"}}:</b></td>
                            <td>{{item.system.activDura}} {{localize "GDSA.system.actions"}}</td>
                        </tr>
                    {{/if}}
                    <tr>
                        <td><b>{{localize "GDSA.itemsheet.cost"}}:</b></td>
                        <td>{{cost}} AsP </td>
                    </tr>
                    {{#unless activ}}
                        <tr>
                            <td><b>{{localize "GDSA.system.pcost"}}:</b></td>
                            <td>{{item.system.creatCostP}} pAsP </td>
                        </tr>
                    {{/unless}}
                    <tr>
                        <td class="chatTraits" colspan="2"><B>{{localize "GDSA.system.magicTrait"}}:</B>
                            {{localize (concat "GDSA.magicTraits." item.system.trait1 "s")}} 
                            {{localize (concat "GDSA.magicTraits." item.system.trait2 "s")}} 
                            {{localize (concat "GDSA.magicTraits." item.system.trait3 "s")}} 
                            {{localize (concat "GDSA.magicTraits." item.system.trait4 "s")}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        {{#if vari}}
            <div class="chathrBox"><hr class="chathrBold" /></div>
            {{#each usedVar}} 
                <div class="rollgeneralMod">{{localize "GDSA.system.vari"}}: {{this}}</div>
                {{#unless @last}}<div class="chathrBox"><hr class="chathr" /></div>{{/unless}}
            {{/each}}
        {{/if}}
        {{#if varis}}
            <div class="chathrBox"><hr class="chathrBold" /></div>
            {{#each usedVars}} 
                <div class="rollgeneralMod">{{this}}</div>
                {{#unless @last}}<div class="chathrBox"><hr class="chathrBold" /></div>{{/unless}}
            {{/each}}
        {{/if}}

        <div class="chathrBox"><hr class="chathrBold" /></div>
    </div>
    
    {{#if modPresent}}
        {{#if isAdv}}
            <div class="rollpositivMod">{{localize "GDSA.chat.skill.advantageOf"}} {{adv}}</div>
            <div class="chathrBox"><hr class="chathrBold" /></div>
        {{/if}}
        {{#if isDis}}
            <div class="rollnegativMod">{{localize "GDSA.chat.skill.disadvantageOf"}} {{dis}}</div>
            <div class="chathrBox"><hr class="chathrBold" /></div>
        {{/if}}
    {{/if}}

    <div class="dice-formula">
        {{#if notEnoughAsP}}
                <div class="rollSkillFail">{{localize "GDSA.spell.notEnoughAsP"}}<span id="additionalInfo"></span></div>
        {{else}}
            {{#if (NOR critt goof)}}
                {{#if result}}
                    <div class="rollSkillPositiv">{{localize "GDSA.chat.stat.sucessWith"}} {{tap}} {{localize "GDSA.chat.stat.TaPS"}}<br />
                    <span id="additionalInfo">{{tapMax}}{{localize "GDSA.chat.stat.maxMod"}}</span></div>
                {{else}}
                    <div class="rollSkillNegativ">{{localize "GDSA.chat.stat.fail"}} <br />
                    <span id="additionalInfo">{{tap}}{{localize "GDSA.chat.stat.maxErl"}}</span></div>
                {{/if}}
            {{else}}
                {{#if critt}}
                    <div class="rollSkillSuccess">{{localize "GDSA.chat.stat.critt"}} <span id="additionalInfo"></span></div>
                {{else}}
                    <div class="rollSkillFail">{{localize "GDSA.chat.stat.goof"}} <span id="additionalInfo"></span></div>
                {{/if}}
            {{/if}}
        {{/if}}
    </div> 
</div>