<div class="GDSA chat message skill">

    <div class="chathrBox"><hr class="chathr" /></div>
    <div class="chatheadline">{{statName}} {{statValue}}</div>
    <div class="chathrBox"><hr class="chathrBold" /></div>

    <div id="collapsable">
        <div class="infoMainBox">
            <div class="infoDiceBox2">
                {{#unless confirm}}<div class="diefiller"></div>{{/unless}}
                <div class="infoDices">{{roll.total}}</div>
                {{#if confirm}}<div class="infoDices">{{roll2.total}}</div>{{/if}}
            </div>
        </div>

        {{#each used}} 
            <div class="rollgeneralMod">{{this}}</div>
            {{#unless @last}}<div class="chathrBox"><hr class="chathr" /></div>{{/unless}}
        {{/each}}
    
        <div class="chathrBox"><hr class="chathrBold" /></div>
    </div>
    
    {{#if modPresent}}
        {{#if isAdv}}
            <div class="rollpositivMod">{{localize "GDSA.chat.skill.advantageOf"}} {{adv}}</div>
            <div class="chathrBox"><hr class="chathrBold" /></div>
        {{/if}}
        {{#if isDis}}
            <div class="rollnegativMod">{{localize "GDSA.chat.skill.disadvantageOf"}} {{dis}}</div>
            <div class="chathrBox"><hr class="chathrBold" /></div>
        {{/if}}
    {{/if}}
    
    <div class="dice-formula">
        {{#if (NOR critt goof)}}
            {{#if result}}
                <div class="rollSkillPositiv">{{localize "GDSA.chat.stat.success"}} <span id="additionalInfo"></span></div>
            {{else}}
                <div class="rollSkillNegativ">{{localize "GDSA.chat.stat.fail"}} <span id="additionalInfo"></span></div>
            {{/if}}
        {{else}}
            {{#if critt}}
                <div class="rollSkillSuccess">{{localize "GDSA.chat.stat.critt"}} <span id="additionalInfo"></span></div>
            {{else}}
                <div class="rollSkillFail">{{localize "GDSA.chat.stat.goof"}} <span id="additionalInfo"></span></div>
            {{/if}}
        {{/if}}
    </div>  
</div>