<form class="{{cssClass}}" autocomplete="off">

    <div class="browserImgBox3"><img class="browserImg" name="{{item.name}}" data-edit="img" src="{{item.img}}" /></div>

    <div class="ritHelper7">
        <div class="spHelper1"><b>{{localize "GDSA.itemsheet.name"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.template.type"}}</b></div>
        <div class="spHelper1"><input class="spHelper2" name="name" type="text" value="{{item.name}}" /></div>
        <div class="spHelper3">
            <select class="spHelper5" name="system.type">{{selectOptions config.tempTypes selected=system.type blank="" localize=true}}</select>
        </div>
    </div>

    <div class="itemRow3">
        <div class="spHelper1"><b>{{localize "GDSA.templates.SFtype"}}</b></div>
        <div class="spHelper4"><b>{{localize "GDSA.templates.AP"}}</b></div>
        <div class="spHelper1">
            <select class="spHelper2" name="system.sf.type">{{selectOptions config.sfTypes selected=system.sf.type blank="" localize=true}}</select>
        </div>
        <div class="spHelper3">
            <input class="spHelper5" name="system.sf.apCost" type="number" value="{{system.sf.apCost}}" />
        </div>
    </div>

    <div class="itemMenu4">
        <nav class="tabs nav spell-tabs" data-group="spell">
            <a class="item" data-tab="spellDetails"><div class="spellMenu2">{{localize "GDSA.template.general"}}</div></a>  
            <a class="item" data-tab="spellEffects"><div class="spellMenu">{{localize "GDSA.templates.altCost"}}</div></a>
            <a class="item" data-tab="spellVariants"><div class="spellMenu">{{localize "GDSA.template.localize"}}</div></a>
            <a class="item" data-tab="spellNotes"><div class="spellMenu">{{localize "GDSA.template.note"}}</div></a>
        </nav>
    </div>
    
    <div class="spellMenuBox">
	    <section class="spell-body">

            <div class="tab spellDetails" data-group="spell" data-tab="spellDetails">

                <div class="spellLine2">{{localize "GDSA.templates.verb"}}:</div>
                <input class="spHelper15" name="system.sf.ver" type="number" value="{{system.sf.ver}}" />
                <div class="spellLine">{{localize "GDSA.template.requierment"}}:</div>

                {{#for 1 21 1}}
                    <select class="spHelper53" name="system.sf.requ.type{{this}}">{{selectOptions ../config.requtype selected=(getData ../system.sf.requ (concat "type" this "")) blank="" localize=true}}</select>
                    <select class="input105s" name="system.tale.requ.tale{{this}}">
                        {{#if (equals (getData ../system.sf.requ (concat "type" this "")) "attribut")}}
                            {{selectOptions ../config.requatt selected=(getData ../system.tale.requ (concat "tale" this "")) blank="" localize=true}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.requ (concat "type" this "")) "talent")}}
                            {{selectOptions ../selTalents selected=(getData ../system.tale.requ (concat "tale" this "")) blank="" localize=true}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.requ (concat "type" this "")) "trait")}}
                            {{selectOptions ../selTraits selected=(getData ../system.tale.requ (concat "tale" this "")) blank="" localize=true}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.requ (concat "type" this "")) "advantage")}}
                            {{selectOptions ../templates.advantage.all selected=(getData ../system.tale.requ (concat "tale" this "")) blank="" localize=true valueAttr="name" labelAttr="name"}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.requ (concat "type" this "")) "flaw")}}
                            {{selectOptions ../templates.flaw.all selected=(getData ../system.tale.requ (concat "tale" this "")) blank="" localize=true valueAttr="name" labelAttr="name"}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.requ (concat "type" this "")) "spell")}}
                            {{selectOptions ../templates.spell.all selected=(getData ../system.tale.requ (concat "tale" this "")) blank="" localize=true valueAttr="name" labelAttr="name"}}
                        {{/if}}
                    </select>
                    {{#if (ifOR (equals (getData ../system.sf.requ (concat "type" this "")) "trait") (ifOR (equals (getData ../system.sf.requ (concat "type" this "")) "advantage") (equals (getData ../system.sf.requ (concat "type" this "")) "flaw")))}}
                        <select class="spHelper52" name="system.sf.requ.condition{{this}}">{{selectOptions ../config.requcon selected=(getData ../system.sf.requ (concat "condition" this "")) blank="" localize=true}}</select>
                    {{else}}
                        <input class="spHelper52" name="system.sf.requ.level{{this}}" type="number" value="{{getData ../system.sf.requ (concat "level" this "")}}"/>
                    {{/if}}
                {{/for}}
 
            </div>

            <div class="tab spellVariants" data-group="spell" data-tab="spellVariants">
                <div class="input100 spellName">{{localize "GDSA.template.DE"}}:</div>
                <input class="input85s" name="system.tale.DE" type="text" value="{{system.tale.DE}}" />
                <div class="input100 spellName">{{localize "GDSA.template.EN"}}:</div>
                <input class="input85s" name="system.tale.EN" type="text" value="{{system.tale.EN}}" />
            </div>
            
            <div class="tab spellEffects" data-group="spell" data-tab="spellEffects">
                {{#for 1 11 1}}
                    <select class="spHelper53" name="system.sf.altCost.type{{this}}">{{selectOptions ../config.requtype selected=(getData ../system.sf.altCost (concat "type" this "")) blank="" localize=true}}</select>
                    <select class="input105s" name="system.sf.altCost.tale{{this}}">
                        {{#if (equals (getData ../system.sf.altCost (concat "type" this "")) "attribut")}}
                            {{selectOptions ../config.requatt selected=(getData ../system.tale.altCost (concat "tale" this "")) blank="" localize=true}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.altCost (concat "type" this "")) "talent")}}
                            {{selectOptions ../selTalents selected=(getData ../system.tale.altCost (concat "tale" this "")) blank="" localize=true}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.altCost (concat "type" this "")) "trait")}}
                            {{selectOptions ../selTraits selected=(getData ../system.tale.altCost (concat "tale" this "")) blank="" localize=true}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.altCost (concat "type" this "")) "advantage")}}
                            {{selectOptions ../templates.advantage.all selected=(getData ../system.tale.altCost (concat "tale" this "")) blank="" localize=true valueAttr="name" labelAttr="system.tale.DE"}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.altCost (concat "type" this "")) "flaw")}}
                            {{selectOptions ../templates.flaw.all selected=(getData ../system.tale.altCost (concat "tale" this "")) blank="" localize=true valueAttr="name" labelAttr="system.tale.DE"}}
                        {{/if}}
                        {{#if (equals (getData ../system.sf.altCost (concat "type" this "")) "spell")}}
                            {{selectOptions ../templates.spell.all selected=(getData ../system.tale.altCost (concat "tale" this "")) blank="" localize=true valueAttr="name" labelAttr="name"}}
                        {{/if}}
                    </select>
                    <input class="spHelper52" name="system.sf.altCost.level{{this}}" type="number" value="{{getData ../system.sf.altCost (concat "level" this "")}}"/>
                {{/for}}
            </div>
            
            <div class="tab spellNotes" data-group="spell" data-tab="spellNotes">
                <div class="itemNotesOut">{{editor system.notes class="itemNotesIn" target="system.notes" button=true engine="prosemirror" collaborate=false}}</div>
                <button class="noteBnt note-gm-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postGM"}}</button>
                <button class="noteBnt note-all-post invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.postAll"}}</button>
            </div>

        </section>
    </div>

    <button class="adBnt item-close invItem" data-item-id="{{item._id}}">{{localize "GDSA.charactersheet.closeLabel"}}</button>

</form>